.profile {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 1em 1em;
}

.profile p {
    margin: 0;
}

.profile p + hr {
    margin-top: 1em;
}

.profile header {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile header img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    max-width: unset;
}

.profile p {
    width: max-content;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-medium);
}

.profile .articles {
    margin: 1.5em 0 0;
    width: 110%;
    padding: 0;
}

.edit, .settings {
    height: 3em;
    width: 3em;
    top: 4em;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-medium {
    font-size: 1.5em;
}

.edit {
    position: absolute;
    right: 2em;
    color: var(--ion-color-secondary-contrast);
    background-color: var(--ion-color-secondary);
}

.settings {
    position: absolute;
    left: 2em;
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary);
}

.profile-picture {
    display: flex;
    flex-direction: column;
}

.profile-picture img {
    width: 12em;
    margin: auto;
    height: 12em;
    object-fit: cover;
    border-radius: 50%;
}

.user {
    display: flex;
    align-content: center;
    padding: .9em;
    cursor: pointer;
    width: 90%;
    border-radius: 12px;
    margin: auto;
    background-color: var(--ion-color-medium-contrast);
    transition: .2s ease-in-out;
}

.user:hover, .user:active {
    scale: 1.02;
}

.user img {
    margin-right: .7em;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.user .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user .infos * {
    margin: 0 0 .2em;
}

.user .infos p {
    color: var(--ion-color-medium);
}

ion-modal ion-item {
    --background: var(--ion-color-step-100) !important;
}
