@import url('/public/css/profiles.css');

br.jump {
    margin-top: 4em;
}

hr {
    background-color: var(--ion-color-medium);
    height: 1px;
    width: 90%;
    border-radius: 2px;
}

ion-toast.danger {
    --background: var(--ion-color-danger-shade);
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: var(--ion-color-danger-contrast) !important;
}

ion-toast.success {
    --background: var(--ion-color-success-shade);
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: var(--ion-color-success-contrast) !important;
}

ion-toast.warning {
    --background: var(--ion-color-warning-shade);
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: var(--ion-color-warning-contrast) !important;
}

button.add {
    width: 2.5em;
    height: 2.5em;
    padding: .5em;
    border-radius: 12px;
    background-color: var(--ion-color-primary);
}

ion-back-button {
    display: block;
}

ion-back-button .button-text {
    content: 'Retour'
}

.toolbar-container {
    height: 3.5em;
}

.ck-editor {
    width: 100vw !important;
    transform: translate(-16px);
}

.ck-toolbar .ck-toolbar__items, .ck-toolbar .ck-toolbar__items button, .ck-toolbar .ck-toolbar__items button svg path, .ck-toolbar {
    background-color: var(--ion-background-color) !important;
    color: var(--ion-text-color) !important;
}

.ck-disabled button svg path {
    opacity: 1;
    color: var(--ion-color-medium) !important;
}

.ck-toolbar, .ck-content {
    border-color: var(--ion-color-medium) !important;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.ck-content {
    background-color: var(--ion-background-color) !important;
    border-bottom: 0 !important;
    min-height: 55vh !important;
}

.swiper-pagination-bullet {
    background: var(--ion-text-color, #F8F4F4) !important;
    box-shadow: 0 0 3px var(--ion-background-color, #000) !important;
}

.swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color, var(--swiper-theme-color)) !important;
}

/*.light .ck-content {*/
/*    background-color: var(--ion-color-step-100) !important;*/
/*}*/
