<template>
  <ion-page>
    <ion-header>
      <Toolbar title="Mon Praufil" :icon="person" />
    </ion-header>
    <ion-content :fullscreen="true">
      <div class="profile">
        <header>
          <button class="edit" @click="setModalEditOpen(true)"><ion-icon size="medium" :icon="ellipsisVertical"></ion-icon></button>
          <ion-nav-link router-direction="forward" :component="settingsComponent">
            <button class="settings">
                <ion-icon size="medium" :icon="settings"></ion-icon>
            </button>
          </ion-nav-link>
          <img :alt="`${user.nickname} Profile Picture`" :src="user.avatar">
          <h2>{{ user.nickname }}</h2>
        </header>
        <p>
          <ion-icon :icon="mail"></ion-icon>&nbsp; {{ user.email }}
        </p>
        <p>
          <ion-icon :icon="flag"></ion-icon>&nbsp; {{ user.location.country }}, {{ user.location.city }}
        </p>
        <div class="articles">
          <BlaugueCompactArticle v-bind="article" :author="user" v-for="article in articles" />
        </div>
      </div>
      <ion-modal class="settings-modal" :swipe-to-close="true" :is-open="modalEditOpen" @didDismiss="setModalEditOpen(false)">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button @click="this.cancelEdit()">Annuler</ion-button>
            </ion-buttons>
            <ion-title>Modifier</ion-title>
            <ion-buttons slot="end">
              <ion-button :strong="true" @click="this.confirmEdit()">Sauvegarder</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <div class="profile-picture">
              <img ref="modifyAvatarInput" :alt="`${user.nickname} Profile Picture`" :src="user.avatar">
              <input @change="handleAvatarChange" ref="avatarInput" type="file">
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nom de blaugueur</ion-label>
            <ion-input @input="user.nickname = $event.target.value" :value="user.nickname" type="text" placeholder="blaugueur.du.25"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input @input="user.email = $event.target.value" :value="user.email" type="email" placeholder="blaugueur@email.com"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Position</ion-label>
            <ion-input @input="user.location.city = $event.target.value" :value="user.location.city" type="text" placeholder="Etalans"></ion-input>
            <ion-input @input="user.location.country = $event.target.value" :value="user.location.country" type="text" placeholder="France"></ion-input>
          </ion-item>
        </ion-content>
      </ion-modal>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  InputCustomEvent,
  IonContent,
  IonIcon,
  IonModal,
  IonNavLink,
  IonPage,
  IonSelect,
  loadingController
} from '@ionic/vue';
import {ellipsisVertical, flag, mail, person, settings} from 'ionicons/icons'
import {fetchAccount, updateAccount, uploadImage} from "@/functions/fetch/account";
import BlaugueCompactArticle from "@/components/BlaugueCompactArticle.vue";
import {UpdateUser} from "@/functions/interfaces/users";
import {defineComponent} from "vue";
import {toBase64} from "@/functions/utils";
import Toolbar from "@/components/Toolbar.vue";
import {getUserArticles} from "@/functions/fetch/articles";
import {Article} from "@/functions/interfaces/articles";
import presentToast from "@/functions/ionic/toasts";
import Settings from "@/components/Settings.vue";

export default defineComponent({
  setup() {
    return { mail, flag, settings, person, ellipsisVertical, IonModal, IonSelect }
  },
  methods: {
    cancelEdit() {
      this.setModalEditOpen(false)
    },
    async confirmEdit() {
      const user: UpdateUser = {
        nickname: this.user.nickname,
        email: this.user.email,
        avatar: this.user.avatar,
        location: {
          city: this.user.location.city,
          country: this.user.location.country,
          coordinates: this.user.location.coordinates
        }
      }
      const avatarInput = this.$refs.avatarInput as HTMLInputElement
      if (avatarInput.files) {
        if (avatarInput.files[0]) this.user.avatar = await toBase64(avatarInput.files[0])
      }
      await updateAccount(user)
      localStorage.setItem('userName', this.user.nickname)
      this.setModalEditOpen(false);
    },
    setModalEditOpen(isOpen: boolean) {
      this.modalEditOpen = isOpen;
    },
    async handleAvatarChange(event: InputCustomEvent) {
      const data = new FormData();
      if (event.target) {
        // @ts-ignore
        const avatarInput = event.target as HTMLInputElement
        if (!avatarInput.files) {
          await presentToast("bottom", "Aucune image sélectionnée", "danger")
          return
        }
        data.append('image', avatarInput.files[0]);
        const loading = await loadingController.create({
          message: 'Téléversement de l\'image...',
          spinner: "dots"
        });
        await loading.present();
        uploadImage(data).then(response => {
          if (!response.urls) {
            presentToast("bottom", "Erreur pendant le téléversement de l'image", "danger")
            loading.dismiss()
            return
          }
          if (['200', '201', 200, 201].includes(response['code'])) {
            const url = response['urls']['360']
            const modifiedImageElement = this.$refs.modifyAvatarInput as HTMLImageElement
            modifiedImageElement.src = url
            this.user.avatar = url
          }
        })
        await loading.dismiss()
      }
      }
  },
  created() {
    fetchAccount()
      .then((user) => {
        this.user = user
        getUserArticles(this.user.nickname).then(articles => {
          articles.reverse()
          articles.forEach(article => {
            const date = new Date(article['createdAt'])
            article['createdAt'] = date.toLocaleDateString()
            this.articles.push(article)
          })
        })
      })
  },
  data() {
    return {
      user: {
        nickname: "",
        avatar: "",
        email: "",
        location: {
          country: "",
          city: "",
          coordinates: [0, 0]
        }
      },
      articles: [

      ] as Article[],
      modalEditOpen: false,
      settingsComponent: Settings
    }
  },
  components: {IonContent, IonNavLink, Toolbar, BlaugueCompactArticle, IonIcon, IonPage, IonModal, IonSelect }
})
</script>
<style scoped>
ion-modal:not(.settings-modal) ion-item {
  --inner-border-width: 0 0 0 0;
}

@media (min-width: 900px) {
  .articles ion-item-sliding {
    width: 50%;
  }
}
</style>
