<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
        </ion-buttons>
        <ion-title>Écrire un pauste</ion-title>
        <ion-buttons slot="end">
          <ion-button @click="publish()">
            <ion-icon :icon="send"/>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-content class="ion-padding">
        <ion-label position="stacked">
          <h1>Écrire un pauste</h1>
        </ion-label>
        <br>
        <ion-item class="no-border">
          <ion-label position="stacked">Titre</ion-label>
          <ion-input label-placement="stacked" @input="article.title = $event.target.value;" :value="article.title" type="text" placeholder="Une sortie en forêt"></ion-input>
        </ion-item>
        <ion-item class="no-border">
          <ion-label position="stacked">Categaurie(s)</ion-label>
          <ion-select label-placement="stacked" placeholder="Anectdaute" :multiple="true" @ionChange="article.categauries = $event.detail.value" :value="article.categauries">
            <ion-select-option value="Infau">Infau 📢</ion-select-option>
            <ion-select-option value="Faumille">Faumille 🏡</ion-select-option>
            <ion-select-option value="Anecdaute">Anecdaute 🧪</ion-select-option>
            <ion-select-option value="Auventure">Auventure 🤠</ion-select-option>
            <ion-select-option value="Spaurt">Spaurt 🏃‍♂️</ion-select-option>
            <ion-select-option value="Éducaution">Éducaution 🎓</ion-select-option>
            <ion-select-option value="Technaulogie">Technaulogie 💾</ion-select-option>
            <ion-select-option value="Boustifaille">Boustifaille 🍽️</ion-select-option>
            <ion-select-option value="Vaucances">Vaucances 🏖️</ion-select-option>
            <ion-select-option value="Auctivités">Auctivités 🧩</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item id="trigger-pauste-settings-modal" button :detail-icon="settings" class="no-border">
          <ion-label>
            <h2>Paramètres</h2>
            <p>Réglez des paramètres avancés sur votre pauste</p>
          </ion-label>
        </ion-item>
        <br>
        <ckeditor :editor="editor" v-model="article.content" :config="editorConfig"></ckeditor>
      </ion-content>
      <ion-modal trigger="trigger-pauste-settings-modal" ref="modal">
        <ion-header>
          <ion-toolbar>
            <ion-title>Paramètres</ion-title>
            <ion-buttons slot="end">
              <ion-button :strong="true" @click="close()">Enregistrer</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">Pauste public ?</ion-label>
            <ion-select label-placement="stacked" interface="action-sheet" placeholder="Oui" @ionChange="article.private = $event.detail.value" :value="article.private">
              <ion-select-option :value="false">Oui 👍</ion-select-option>
              <ion-select-option :value="true">Nau 👎</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Position</ion-label>
            <ion-input @input="article.location.city = $event.target.value" :value="article.location.city" type="text" placeholder="Etalans"></ion-input>
            <ion-input @input="article.location.country = $event.target.value" :value="article.location.country" type="text" placeholder="France"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Ordre des images</ion-label>
            <ion-note>Disponible seulement en modification. Publie d'abords ton pauste !</ion-note>
          </ion-item>
        </ion-content>
      </ion-modal>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  alertController,
  IonBackButton,
  IonIcon,
  IonModal,
  IonPage,
  IonReorder,
  IonReorderGroup,
  IonSelect,
  loadingController
} from '@ionic/vue';
import {ellipsisVertical, mail, send, settings} from 'ionicons/icons';
import CKEditor from '@ckeditor/ckeditor5-vue'
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import BlaugueUploadAdapter from '@/functions/fetch/uploadadapter'
import {createArticle} from "@/functions/fetch/articles";
import {goTo} from "@/functions/utils";
import {defineComponent} from "vue";


export default defineComponent({
  setup() {
    return { mail, send, ellipsisVertical, settings, IonModal, IonSelect, ckeditor: CKEditor.component }
  },
  methods: {
    close() {
      const modal = this.$refs.modal as typeof IonModal
      modal.$el.dismiss()
    },
    async loader() {
      const loading = await loadingController.create({
        message: 'Traitement du pauste...',
        spinner: "dots"
      });
      await loading.present();
      return loading
    },
    async publish() {
      clearInterval(this.saveInterval)
      const loader = await this.loader()
      this.article.imauges = JSON.parse(localStorage.getItem('cacheImagesIds') || "[]")
      const response = await createArticle(this.article)
      if ([200, 201, "200", "201"].includes(response['code'])) {
        localStorage.removeItem('savedArticle')
        setTimeout(async () => {
          const alert = await alertController.create({
            header: 'Pauste ajouté !',
            subHeader: 'Votre pauste a été créé. Si vous n\'ếtes pas redirigés, cliquez sur retour.',
          })
          await alert.present()
          await goTo('/account')
        }, 500)
      }
      await loader.dismiss()
    },
  },
  mounted() {
    this.saveInterval = setInterval(() => {
      localStorage.setItem('savedArticle', JSON.stringify(this.article))
    }, 2000)
  },
  data() {
    localStorage.setItem('cacheImagesIds', JSON.stringify([]))
    const cacheResponse = localStorage.getItem('savedArticle') || JSON.stringify({
      title: "",
      content: "<h1>Hello,</h1><p>Écrivez votre pauste ici</p><br>",
        author: localStorage.getItem('userId') || "",
      private: true,
      categauries: [

      ],
      imauges: [

      ],
      location: {
        city: "",
        country: ""
      }
    })
    const article = JSON.parse(cacheResponse)
    function BlUploadAdapter(editor: ClassicEditor) {
      editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
        const callback = (id: string) => {
          const imauges = JSON.parse(localStorage.getItem('cacheImagesIds') || "[]")
          imauges.push(id)
          localStorage.setItem('cacheImagesIds', JSON.stringify(imauges))
        }
        return new BlaugueUploadAdapter(loader, editor.config._config.upload, callback);
      };
    }
    return {
      article: article,
      editor: ClassicEditor,
      saveInterval: setInterval(() => null, 2000),
      editorConfig: {
        extraPlugins: [BlUploadAdapter],
        language: 'fr',
        upload: {
          uploadUrl: `${import.meta.env.VITE_BACKEND_URL}/imauges/upload`,
          withCredentials: false,
          headers: {
            Authorization: `Bearer ${localStorage.getItem('userToken')}`
          },
        },
      },
    }
  },
  components: {IonIcon, IonPage, IonModal, IonSelect, IonBackButton, IonReorderGroup, IonReorder, ckeditor: CKEditor.component}
})
</script>

<style>
ion-item.no-border {
  border-bottom: 0;
  --border-color: transparent;
  margin-bottom: 1em;
}
</style>
