<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
        </ion-buttons>
        <ion-title>Modifier le pauste</ion-title>
        <ion-buttons slot="end">
          <ion-button @click="publish()">
            <ion-icon :icon="send"/>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-content class="ion-padding">
        <ion-label position="stacked">
          <h1>Modifier le pauste</h1>
        </ion-label>
        <br>
        <ion-item class="no-border">
          <ion-label position="stacked">Titre</ion-label>
          <ion-input label-placement="stacked" @input="article.title = $event.target.value;" :value="article.title" type="text" placeholder="Une sortie en forêt"></ion-input>
        </ion-item>
        <ion-item class="no-border">
          <ion-label position="stacked">Categaurie(s)</ion-label>
          <ion-select label-placement="stacked" placeholder="Anectdaute" :multiple="true" @ionChange="article.categauries = $event.detail.value" :value="article.categauries">
            <ion-select-option value="Infau">Infau 📢</ion-select-option>
            <ion-select-option value="Faumille">Faumille 👨‍👩‍👧‍👦</ion-select-option>
            <ion-select-option value="Anecdaute">Anecdaute 🧪</ion-select-option>
            <ion-select-option value="Auventure">Auventure 🤠</ion-select-option>
            <ion-select-option value="Spaurt">Spaurt 🏃‍♂️</ion-select-option>
            <ion-select-option value="Éducaution">Éducaution 🎓</ion-select-option>
            <ion-select-option value="Technaulogie">Technaulogie 💾</ion-select-option>
            <ion-select-option value="Boustifaille">Boustifaille 🍽️</ion-select-option>
            <ion-select-option value="Vaucances">Vaucances 🏖️</ion-select-option>
            <ion-select-option value="Auctivités">Auctivités 🧩</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item id="trigger-pauste-settings-modal" button :detail-icon="settings" class="no-border">
          <ion-label>
            <h2>Paramètres</h2>
            <p>Réglez des paramètres avancés sur votre pauste</p>
          </ion-label>
        </ion-item>
        <br>
        <ckeditor :editor="editor" v-model="article.content" :config="editorConfig"></ckeditor>
      </ion-content>
      <ion-modal trigger="trigger-pauste-settings-modal" ref="modal">
        <ion-header>
          <ion-toolbar>
            <ion-title>Paramètres</ion-title>
            <ion-buttons slot="end">
              <ion-button :strong="true" @click="close()">Enregistrer</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">Pauste public ?</ion-label>
            <ion-select label-placement="stacked" interface="action-sheet" placeholder="Oui" @ionChange="this.article.private = $event.detail.value" :value="article.private">
              <ion-select-option :value="false">Oui 👍</ion-select-option>
              <ion-select-option :value="true">Nau 👎</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Position</ion-label>
            <ion-input @ionChange="this.article.location.city = $event.target.value" :value="article.location.city || ''" type="text" placeholder="Etalans"></ion-input>
            <ion-input @ionChange="this.article.location.country = $event.target.value" :value="article.location.country || ''" type="text" placeholder="France"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Ordre des images</ion-label>
            <ion-reorder-group :disabled="false" @ionItemReorder="handleReorder($event)" v-if="article.imauges.length > 0">
              <ion-item v-for="image in article.imauges">
                <ion-thumbnail slot="start">
                  <img :alt="`Image ${article.imauges.indexOf(image) + 1}`" :src="`${image120BaseUrl}${image}`" />
                </ion-thumbnail>
                <ion-label>Image {{ article.imauges.indexOf(image) + 1 }}</ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
            </ion-reorder-group>
            <ion-note v-else>Aucune image</ion-note>
          </ion-item>
        </ion-content>
      </ion-modal>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  alertController,
  IonBackButton,
  IonIcon,
  IonModal,
  IonPage,
  IonReorder,
  IonReorderGroup,
  IonSelect,
  loadingController
} from '@ionic/vue';
import {ellipsisVertical, mail, send, settings} from 'ionicons/icons';
import BlaugueArticle from "@/components/BlaugueArticle.vue";
import CKEditor from '@ckeditor/ckeditor5-vue'
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import BlaugueUploadAdapter from '@/functions/fetch/uploadadapter'
import {getArticle, updateArticle} from "@/functions/fetch/articles";
import {goTo} from "@/functions/utils";
import {Article} from "@/functions/interfaces/articles";
import {defineComponent} from "vue";


export default defineComponent({
  setup() {
    return { mail, send, ellipsisVertical, settings, IonModal, IonSelect, ckeditor: CKEditor.component, image120BaseUrl: `${import.meta.env.VITE_BACKEND_URL}/imauges/120px/` }
  },
  methods: {
    close() {
      const modal = this.$refs.modal as typeof IonModal
      modal.$el.dismiss()
    },
    async loader() {
      const loading = await loadingController.create({
        message: 'Traitement du pauste...',
        spinner: "dots"
      });
      await loading.present();
      return loading
    },
    async publish() {
      clearInterval(this.saveInterval)
      const loader = await this.loader()
      this.article.imauges = JSON.parse(localStorage.getItem('cacheImagesIds') || "[]")
      const articleId = this.$route.params.id as string
      const response = await updateArticle(articleId, this.article)
      if ([200, 201, "200", "201"].includes(response['code'])) {
        localStorage.removeItem('savedEditedArticle')
        setTimeout(async () => {
          const alert = await alertController.create({
            header: 'Pauste modifié !',
            subHeader: 'Vos changement ont été pris en compte. Si vous n\'ếtes pas redirigés, cliquez sur retour.',
          })
          await alert.present()
          await goTo('/account')
        }, 500)
      }
      await loader.dismiss()
    },
    handleReorder(event: CustomEvent) {
      const details = event.detail
      this.article.imauges = details.complete(this.article.imauges)
    }
  },
  created() {
    const articleId = this.$route.params.id as string
    if (localStorage.getItem('savedEditedArticle')) {
      const article = JSON.parse(localStorage.getItem('savedEditedArticle') || "{}")
      if (articleId === article.id) {
        this.article = article
      } else {
        localStorage.removeItem('savedEditedArticle')
        location.reload()
      }
    } else {
      getArticle(articleId).then((article: Article) => {
        this.article.id = article.id
        this.article.title = article.title
        this.article.content = article.content
        this.article.private = article.private
        this.article.categauries = article.categauries
        if (article.location) this.article.location = article.location
        let imaugesIds = []
        for (const imauge of article.imauges) {
          imaugesIds.push(imauge.id)
        }
        this.article.imauges = imaugesIds
        localStorage.setItem('cacheImagesIds', JSON.stringify(imaugesIds))
      })
    }
  },
  mounted() {
    this.saveInterval = setInterval(() => {
      if (this.article.content !== "") localStorage.setItem('savedEditedArticle', JSON.stringify(this.article))
    }, 2000)
  },
  deactivated() {
    clearInterval(this.saveInterval)
    localStorage.removeItem('savedEditedArticle')
  },
  data() {
    function BlUploadAdapter(editor: ClassicEditor) {
      editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
        const callback = (id: string) => {
          const imauges = JSON.parse(localStorage.getItem('cacheImagesIds') || "[]")
          imauges.push(id)
          localStorage.setItem('cacheImagesIds', JSON.stringify(imauges))
        }
        return new BlaugueUploadAdapter(loader, editor.config._config.upload, callback);
      };
    }
    return {
      article: {
        title: "",
        content: "",
        author: localStorage.getItem('userId') || "",
        private: true,
        categauries: [

        ] as string[],
        imauges: [

        ] as string[],
        id: "",
        location: {
          city: "",
          country: ""
        }
      },
      editor: ClassicEditor,
      saveInterval: setInterval(() => null, 2000),
      editorConfig: {
        extraPlugins: [BlUploadAdapter],
        language: 'fr',
        upload: {
          uploadUrl: `${import.meta.env.VITE_BACKEND_URL}/imauges/upload`,
          withCredentials: false,
          headers: {
            Authorization: `Bearer ${localStorage.getItem('userToken')}`
          },
        },
      },
    }
  },
  components: {
    IonReorderGroup,
    IonReorder,
    BlaugueArticle, IonIcon, IonPage, IonModal, IonSelect, IonBackButton, ckeditor: CKEditor.component}
})
</script>

<style>
ion-item.no-border {
  border-bottom: 0;
  --border-color: transparent;
  margin-bottom: 1em;
}
ion-modal ion-item:last-child {
  --inner-border-width: 0 0 0 0;
  margin-bottom: 2em;
}
</style>
