<template>
  <ion-page>
    <ion-header>
      <Toolbar title="Ressources" :icon="basket" />
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-label ref="a2hs">
        <div class="a2hs">
          <button>Installer l'app <ion-icon :icon="download"/></button>
        </div>
      </ion-label>
      <ion-nav-link router-direction="forward" :component="ReadingList">
        <ion-item button :detail-icon="bookmark">
          <ion-label>
            <h1>Liste de laucture</h1>
            <p>Les articles qui vous ont intrigués</p>
          </ion-label>
        </ion-item>
      </ion-nav-link>
      <ion-nav-link router-direction="forward" :component="CustomReactions">
        <ion-item button :detail-icon="flash">
          <ion-label>
            <h1>Réauctions personnalisées</h1>
            <p>Exprimez <em>vos</em> émautions</p>
          </ion-label>
        </ion-item>
      </ion-nav-link>
      <ion-nav-link router-direction="forward" :component="Infos">
        <ion-item class="no-border" button :detail-icon="blIcon">
          <ion-label>
            <h1>Infaurmations</h1>
            <p>A propos de Blaugue</p>
          </ion-label>
        </ion-item>
      </ion-nav-link>
      <h1 v-if="this.user.roles.includes('Mauderateur')" class="ion-padding">Administraution</h1>
      <ion-nav-link router-direction="forward" v-if="this.user.roles.includes('Mauderateur')">
        <ion-item button :detail-icon="shieldHalf" disabled>
          <ion-label>
            <h1>Censures</h1>
            <p>Les commentaires et paustes censurés</p>
          </ion-label>
        </ion-item>
      </ion-nav-link>
      <ion-nav-link router-direction="forward" v-if="this.user.roles.includes('Mauderateur')">
        <ion-item button :detail-icon="peopleCircle" disabled>
          <ion-label>
            <h1>Compte non approuvés</h1>
            <p>Les comptes en attente d'approbation.</p>
          </ion-label>
        </ion-item>
      </ion-nav-link>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {IonContent, IonIcon, IonNavLink, IonPage} from '@ionic/vue';
import {basket, bookmark, download, flash, peopleCircle, shieldHalf} from 'ionicons/icons'
import blIcon from '@/components/icon.svg'
import Toolbar from "@/components/Toolbar.vue";
import ReadingList from "@/components/ReadingList.vue";
import Infos from "@/components/Infos.vue";
import {fetchAccount} from "@/functions/fetch/account";
import {defineComponent} from "vue";
import {BeforeInstallPromptEvent} from "@/functions/interfaces/events";
import CustomReactions from "@/components/CustomReactions.vue";

export default defineComponent({
  name: 'FeedPage',
  created() {
    fetchAccount().then(user => {
      this.user = user
    })
  },
  data() {
    return {
      user: {
        roles: [] as string[]
      }
    }
  },
  mounted() {
    var deferredPrompt: BeforeInstallPromptEvent | null
    const A2HSButton = this.$refs.a2hs as HTMLElement
    A2HSButton.setAttribute('style', 'display: none')
    window.addEventListener("beforeinstallprompt", (event) => {
      event.preventDefault()

      // addEventListener event, always type Event but here is type BeforeInstallPromptEvent
      // @ts-ignore
      deferredPrompt = event
      A2HSButton.setAttribute('style', '')

      A2HSButton.addEventListener("click", () => {
        A2HSButton.setAttribute('style', 'display: none')
        deferredPrompt ? deferredPrompt.prompt() : console.log('Before install event is null')
        deferredPrompt ? deferredPrompt.userChoice.then((choiceResult) => {
          if (choiceResult.outcome === "accepted") {
            console.log("User accepted the A2HS prompt")
          } else {
            console.log("User dismissed the A2HS prompt")
          }
          deferredPrompt = null
        }) : console.log('Before install event is null')
      });
    });
  },
  setup() {
    return { download, basket, ReadingList, CustomReactions, Infos, bookmark, flash, blIcon, shieldHalf, peopleCircle }
  },
  components: {IonPage, IonContent, Toolbar, IonIcon, IonNavLink}
})
</script>

<style>
.a2hs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a2hs button {
  padding: .5em;
  font-size: 1.1em;
  background-color: var(--ion-color-primary);
  margin: 2em;
  border-radius: 5px;
}

ion-nav-link:last-child ion-item, ion-item .no-border {
  --inner-border-width: 0 0 0 0;
}
</style>
