<template>
  <ion-page>
    <Toolbar title="Haume" :icon="storefront"/>
    <ion-content :fullscreen="true">
      <ion-refresher slot="fixed" @ionRefresh="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-item>
        <ion-label>
          <h1>Dernières actuaulités</h1>
          <p>Que s'est il passé sur Blaugue ?</p>
        </ion-label>
      </ion-item>
      <ion-item class="segment">
        <ion-segment @ionChange="changeTab($event.detail.value)" value="all">
          <ion-segment-button value="all">
            <ion-label>Paustes</ion-label>
          </ion-segment-button>
          <ion-segment-button value="activity">
            <ion-label>Interauctions</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <LastArticles ref="all"/>
      <LastInteractions style="display: none" ref="activity"/>
      <div style="display: none">
        <ion-note style="width: 100vw; text-align: center; display: block">
          En construction 🚧
        </ion-note>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {IonContent, IonPage, IonRefresher, IonRefresherContent, IonSegment} from '@ionic/vue';
import LastArticles from '@/components/LastArticles.vue';
import Toolbar from "@/components/Toolbar.vue";
import {defineComponent} from "vue";
import {storefront} from "ionicons/icons";
import LastInteractions from "@/components/LastInteractions.vue";

export default defineComponent({
  name: 'HomePage',
  setup() {
    return { storefront }
  },
  methods: {
    changeTab(tab: string) {
      const allArticlesElement = this.$refs.all as typeof LastArticles
      const activityElement = this.$refs.activity as typeof LastInteractions
      if (tab == 'all') {
        allArticlesElement.$el.setAttribute('style', '')
        activityElement.$el.setAttribute('style', 'display: none')
      } else {
        activityElement.$el.setAttribute('style', '')
        allArticlesElement.$el.setAttribute('style', 'display: none')
      }
    },
    refresh(event: CustomEvent) {
      setTimeout((event) => {
        const allArticlesElement = this.$refs.all as typeof LastArticles
        const activityElement = this.$refs.activity as typeof LastArticles
        allArticlesElement.refresh()
        // publicsArticlesElement.refresh()
        event.target.complete();
      }, 2000, event);
    }
  },
  components: {
    LastInteractions,
    LastArticles, Toolbar, IonPage, IonContent, IonSegment, IonRefresher, IonRefresherContent}
})
</script>
<style scoped>
ion-item {
  --inner-border-width: 0 0 0 0;
}
ion-refresher {
  z-index: 100;
}
@media (min-width: 1200px) {
  .segment {
    width: 50%;
    margin: auto;
  }
}
</style>
