<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Login</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-page>
  <ion-content class="page">
    <div class="background-image"></div>
    <div class="container">
      <ion-note>Nom d'utilisateur</ion-note>
      <ion-input @input="credentials.nickname = $event.target.value" :value="credentials.nickname" fill="outline" placeholder="blaugueur.du.25" type="email"></ion-input>
      <span class="ion-margin-bottom"></span>
      <ion-note>Maut de passe</ion-note>
      <ion-input @input="credentials.password = $event.target.value" :value="credentials.password" fill="outline" placeholder="****" type="password"></ion-input>
      <span class="ion-margin-bottom"></span>
      <div style="width: 100%">
        <ion-checkbox @ionChange="stay_connected = $event.detail.checked" :checked="stay_connected" >Rester Connecté</ion-checkbox>
      </div>
      <span class="ion-margin-bottom"></span>
      <ion-button @click="tryLogin()">Se connecter</ion-button>
      <br class="jump">
      <hr>
      <p>Blaugue avec ❤️ par Silvère et Armand</p>
      <p style="z-index: 100"><a href="/register">S'inscrire</a></p>
    </div>
  </ion-content>
</template>

<script lang="ts">
import { IonLabel, IonPage, IonNav } from '@ionic/vue';
import Register from "@/views/Register.vue";
import {fetchAccount, login, refreshToken} from "@/functions/fetch/account";
import presentToast from "@/functions/ionic/toasts";
import {defineComponent} from "vue";


export default defineComponent({
  methods: {
    tryLogin: async function () {
      const account = await login(this.credentials.nickname, this.credentials.password)
      if (account['code'] == 1055){
        await presentToast('bottom', 'Une erreur est survenue pendant votre requête...', 'danger')
        return
      } else if (account['code'] == 401) {
        await presentToast('bottom', 'Accès refusé.', 'warning')
        return
      }
      await presentToast('bottom', 'Connexion réussie.', 'success')
      localStorage.setItem('userName', this.credentials.nickname)
      localStorage.setItem('userToken', account['access_token'])
      localStorage.setItem('userStayConnected', this.stay_connected.toString())
      if (this.stay_connected) {
        localStorage.setItem('userCreds', JSON.stringify(this.credentials))
      } else {
        localStorage.setItem('userCreds', JSON.stringify({'credentials': {}}))
      }
      refreshToken()
      localStorage.setItem('userId', (await fetchAccount()).id)
      if (localStorage.getItem('userTheme') === null) {
        localStorage.setItem('userTheme', 'light')
      }
      setTimeout(() => {
        location.href = '/home'
      }, 2000)
    }
  },
  setup() {
    return { Register }
  },
  data() {
    return {
      credentials: {
        nickname: "",
        password: ""
      },
      stay_connected: true
    }
  },
  components: { IonPage, IonNav, IonLabel }
})
</script>

<style scoped>

.page {
  min-height: 100vh;
}

ion-note {
  width: 100%;
}

.background-image {
  position: absolute;
  background: url("https://images.unsplash.com/photo-1684418153712-007f3547e746?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
  height: 100vh;
  width: 100vh;
  opacity: 0.3;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  margin: auto;
  transform: translate(-50%);
}

.background-image:before {
  display: block;
  content: '';
  height: 48em;
  width: 100%;
  background: linear-gradient(180deg, var(--ion-item-background), rgba(0, 0, 0, 0));
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 100%;
  margin: auto;
}
</style>
