<template>
  <ion-page>
    <ion-toolbar>
        <ion-label slot="start" style="margin-left: 1em;">
          <h1>Blaugue, page publique</h1>
        </ion-label>
        <ion-title></ion-title>
      <ion-label slot="end">
        <ion-icon size="large" style="margin-right: 1em" :icon="blIcon" />
      </ion-label>
      </ion-toolbar>
    <ion-content :fullscreen="true">
      <ion-item button @click="goTo('/login')">
        <ion-label>
          <h1>Se caunnecter</h1>
          <p>Caunnecte toi et vois plus de paustes, interaugis.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h1>Derniers paustes</h1>
          <p>Les derniers aurticles publics.</p>
        </ion-label>
      </ion-item>
      <LastPublicArticles/>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {IonContent, IonIcon, IonPage} from '@ionic/vue';
import Toolbar from "@/components/Toolbar.vue";
import {defineComponent} from "vue";
import LastPublicArticles from "@/components/LastPublicArticles.vue";
import {goTo} from "@/functions/utils";
import blIcon from "@/components/icon.svg"

export default defineComponent({
  name: 'PublicPage',
  methods: {goTo},
  setup() { return { blIcon } },
  components: {LastPublicArticles, Toolbar, IonPage, IonContent, IonIcon}
})
</script>
