<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Register</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-page>
  <ion-content :scroll-y="false" class="page">
    <div class="background-image"></div>
    <div class="container">
      <ion-note>Nom d'utilisateur</ion-note>
      <ion-input @input="credentials.nickname = $event.target.value" :value="credentials.nickname" fill="outline" placeholder="blaugueur.du.25" type="email"></ion-input>
      <span class="ion-margin-bottom"></span>
      <ion-note>Email</ion-note>
      <ion-input @input="credentials.email = $event.target.value" :value="credentials.email" fill="outline" placeholder="your@email.com" type="email"></ion-input>
      <span class="ion-margin-bottom"></span>
      <ion-note>Maut de passe</ion-note>
      <ion-input @input="credentials.password = $event.target.value" :value="credentials.password" fill="outline" placeholder="******" type="password"></ion-input>
      <span class="ion-margin-bottom"></span>
      <ion-button @click="register()">S'enregistrer</ion-button>
      <br class="jump">
      <hr>
      <p>Blaugue avec ❤️ par Silvère et Armand</p>
      <p style="z-index: 100"><a href="/login">Se connecter</a></p>
    </div>
  </ion-content>
</template>

<script lang="ts">
import { IonLabel, IonPage, IonNavLink } from '@ionic/vue';
import {createAccount} from "@/functions/fetch/account";
import presentToast from "@/functions/ionic/toasts";
import {defineComponent} from "vue";

export default defineComponent({
  methods: {
    register: async function () {
      const response = await createAccount(this.credentials.nickname, this.credentials.email, this.credentials.password)
      if (response['code'] == 1025) {
        await presentToast("bottom", "Mot de passe invalide, le mot de passe ne peut être vide.", "danger")
        return
      } else if (response['code'] == 1055 || !['200', '201'].includes(response['code'].toString())){
        await presentToast('bottom', 'Une erreur est survenue pendant votre requête... Assurez-vous d\'avoir rempli tous les champs.', 'danger')
        return
      }
      await presentToast('bottom', 'Enregistrement réussi, redirection...', 'success')
      setTimeout(() => {
        location.href = '/login'
      }, 2000)
    }
  },
  data() {
    return {
      credentials: {
        nickname: "",
        email: "",
        password: ""
      }
    }
  },
  components: { IonPage, IonNavLink, IonLabel }
})
</script>

<style scoped>

.page {
  height: 100vh;
}

ion-note {
  width: 100%;
}

.background-image {
  position: absolute;
  background: url("https://images.unsplash.com/photo-1589820546347-ec06b066b6ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA4fHxyb3VnZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
  height: 100vh;
  width: 100vh;
  opacity: 0.3;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  transform: translate(-50%);
}

.background-image:before {
  display: block;
  content: '';
  height: 30em;
  width: 100%;
  background: linear-gradient(180deg, var(--ion-item-background), rgba(0, 0, 0, 0));
}

.background-image:after {
  display: block;
  content: '';
  height: 40em;
  width: 100%;
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0), var(--ion-item-background));
  position: absolute;
  bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 100%;
  margin: auto;
}
</style>
