<template>
  <ion-page>
    <ion-header>
      <ion-toolbar style="padding-top: 1em">
        <ion-searchbar disabled show-clear-button="focus" animated="true" placeholder="Rechercher"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" style="text-align: center" :fullscreen="true">
      <ion-note>Rien ici pour le moment 😔</ion-note>
    </ion-content>
  </ion-page>
</template>

<script setup lang="ts">
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent } from '@ionic/vue';
</script>
