<template>
  <ion-page>
    <ion-tabs @ionTabsWillChange="updateDisposition()">
      <ion-router-outlet></ion-router-outlet>

      <ion-tab-bar slot="bottom">
        <ion-tab-button :class="mode" tab="home" href="/home">
          <ion-icon aria-hidden="true" :icon="storefrontOutline" />
          <ion-label v-if="hasText">Haume</ion-label>
        </ion-tab-button>

        <ion-tab-button :class="mode" tab="search" href="/search">
          <ion-icon aria-hidden="true" :icon="eyeOutline" />
          <ion-label v-if="hasText">Recherche</ion-label>
        </ion-tab-button>

        <ion-tab-button :class="mode" tab="feed" href="/feed">
          <ion-icon aria-hidden="true" :icon="basketOutline" />
          <ion-label v-if="hasText">Ressources</ion-label>
        </ion-tab-button>

        <ion-tab-button :class="mode" tab="account" href="/account">
          <ion-icon aria-hidden="true" :icon="personCircleOutline" />
          <ion-label v-if="hasText">Praufil</ion-label>
        </ion-tab-button>

        <ion-tab-button :class="mode" tab="add">
          <ion-nav-link class="add-link" router-direction="forward" :component="addComponent">
            <ion-icon color="primary" size="large" aria-hidden="true" :icon="addCircle" />
            <ion-label v-if="hasText">Écrire</ion-label>
          </ion-nav-link>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script setup lang="ts">
import {IonIcon, IonLabel, IonNavLink, IonPage, IonRouterOutlet, IonTabBar, IonTabButton, IonTabs} from '@ionic/vue';
import {addCircle, basketOutline, eyeOutline, personCircleOutline, storefrontOutline} from 'ionicons/icons';
import addComponent from "@/views/Add.vue"
</script>

<script lang="ts">
import {registerWorker} from "@/functions/pwa/utils";
import presentToast from "@/functions/ionic/toasts";
import {defineComponent} from "vue";

export default defineComponent({
  created() {
    document.body.classList.remove('light')
    document.body.classList.remove('dark')
    document.body.classList.add(localStorage.getItem('userTheme') || "light")
    registerWorker()
    window.addEventListener('offline', () => {
      presentToast("top", "Connexion perdue", "danger")
    })
    window.addEventListener('online', () => {
      presentToast("top", "Connexion retrouvée", "success")
    })
  },
  methods: {
    updateDisposition() {
      const mode = localStorage.getItem('navbarDisposition') || 'text'
      this.mode = mode
      this.hasText = mode === 'text' || mode === 'active'
    }
  },
  data() {
    const mode = localStorage.getItem('navbarDisposition') || 'text'
    const hasText = mode === 'text' || mode === 'active'
    return {
      hasText: hasText as boolean,
      mode: mode as string
    }
  }
})
</script>
<style scoped>
.active ion-label {
  display: none;
}

.tab-selected.active ion-label {
  display: block;
}

ion-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-nav-link.add-link {
  flex-direction: column;
}

ion-tab-button:last-child {
  border-left: 0.55px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.2))));
}
</style>
