<!--<template>-->
<!--  <ion-page>-->
<!--    <ion-header>-->
<!--      <ion-toolbar>-->
<!--        <ion-title>Welcome</ion-title>-->
<!--      </ion-toolbar>-->
<!--    </ion-header>-->
<!--  </ion-page>-->
<!--  <ion-content class="ion-padding" :scroll-y="false" fullscreen>-->
<!--    <div class="slide">-->
<!--      <img src="/assets/welcome/1.png" />-->
<!--      <h2>Bienvenue !</h2>-->
<!--      <p>-->
<!--        <b>Blaugue</b> est un blog plein de fonctionnalités, conçu pour toutes les familles !-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="slide">-->
<!--      <img src="/assets/welcome/2.png" />-->
<!--      <h2>Partage</h2>-->
<!--      <p>-->
<!--        Une anectdaute, une histoire en écrivant un <b>pauste</b>.-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="slide">-->
<!--      <img src="/assets/welcome/3.png" />-->
<!--      <h2>Interaugie</h2>-->
<!--      <p>-->
<!--        Amuse toi avec les autres utilisateurs en ajoutant des <b>réauctions</b> à leurs caummentaires et paustes.-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="slide">-->
<!--      <img src="/assets/welcome/4.png" />-->
<!--      <h2>Rejoins-nous</h2>-->
<!--      <p>-->
<!--        Dans cette magnifique communauté, dès maintenant !-->
<!--      </p>-->
<!--      <ion-button>-->
<!--        Me connecter-->
<!--      </ion-button>-->
<!--      <ion-button>-->
<!--        M'inscrire-->
<!--      </ion-button>-->
<!--    </div>-->
<!--  </ion-content>-->
<!--</template>-->

<!--<script lang="ts">-->
<!--import {IonLabel, IonNav, IonPage} from '@ionic/vue';-->
<!--import {defineComponent} from "vue";-->
<!--import Login from "@/views/Login.vue";-->
<!--import {goTo} from "@/functions/utils";-->


<!--export default defineComponent({-->
<!--  methods: {-->
<!--    goTo-->
<!--  },-->
<!--  setup() {-->
<!--    return { Login }-->
<!--  },-->
<!--  components: { IonPage, IonNav, IonLabel }-->
<!--})-->
<!--</script>-->

<!--<style scoped>-->

<!--.page {-->
<!--  min-height: 100vh;-->
<!--}-->

<!--ion-note {-->
<!--  width: 100%;-->
<!--}-->

<!--.background-image {-->
<!--  position: absolute;-->
<!--  background: url("https://images.unsplash.com/photo-1684418153712-007f3547e746?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");-->
<!--  height: 100vh;-->
<!--  width: 100vh;-->
<!--  opacity: 0.3;-->
<!--  background-size: contain;-->
<!--  background-position: center;-->
<!--  background-repeat: no-repeat;-->
<!--  left: 50%;-->
<!--  margin: auto;-->
<!--  transform: translate(-50%);-->
<!--}-->

<!--.background-image:before {-->
<!--  display: block;-->
<!--  content: '';-->
<!--  height: 48em;-->
<!--  width: 100%;-->
<!--  background: linear-gradient(180deg, var(&#45;&#45;ion-item-background), rgba(0, 0, 0, 0));-->
<!--}-->

<!--.container {-->
<!--  display: flex;-->
<!--  flex-direction: column;-->
<!--  justify-content: center;-->
<!--  align-items: center;-->
<!--  width: max-content;-->
<!--  height: 100%;-->
<!--  margin: auto;-->
<!--}-->
<!--</style>-->
