<template>
  <ion-page>
    <ToolbarModal :title="`Praufil de ${user.nickname}`"></ToolbarModal>
    <ion-content :fullscreen="true">
      <div class="profile">
        <header>
          <img :alt="`${user.nickname} Profile Picture`" :src="user.avatar" v-if="![undefined, ''].includes(user.avatar)">
          <img :alt="`${user.nickname} Profile Picture`" src="/assets/avatar.png" v-else>
          <h2>{{ user.nickname }}</h2>
        </header>
        <p>
          <ion-icon :icon="mail"></ion-icon>&nbsp; {{ user.email }}
        </p>
        <p>
          <ion-icon :icon="flag"></ion-icon>&nbsp; {{ user.location.country }}, {{ user.location.city }}
        </p>
        <div class="articles">
          <BlaugueCompactArticle v-bind="article" v-for="article in articles" />
        </div>
      </div>
    </ion-content>

  </ion-page>
</template>

<script lang="ts">
import {IonIcon, IonModal, IonPage, IonSelect} from '@ionic/vue';
import {ellipsisVertical, flag, mail, settings} from 'ionicons/icons'
import BlaugueCompactArticle from "@/components/BlaugueCompactArticle.vue";
import {defineComponent} from "vue";
import ToolbarModal from "@/components/ModalToolbar.vue";
import {getUserArticles} from "@/functions/fetch/articles";
import {getUser} from "@/functions/fetch/blauguer";
import {Article} from "@/functions/interfaces/articles";

export default defineComponent({
  setup() {
    return { mail, flag, settings, ellipsisVertical, IonModal, IonSelect }
  },
  methods: {
    async loadUser() {
      const username = this.$route.params.name as string
      await getUser(username).then((user) => {
        this.user = user
      })
    }
  },
  created() {
    this.loadUser().then(() => {
      getUserArticles(this.user.nickname).then(async (articles: Array<Article>) => {
        const author = this.user
        articles.reverse()
        articles.forEach((article: Article) => {
          article['author'] = author
          const date = new Date(article['createdAt'])
          article['createdAt'] = date.toLocaleDateString()
          this.articles.push(article)
        })
      })
    })
  },
  data() {
    return {
      user: {
        nickname: "",
        avatar: "",
        email: "",
        location: {
          country: "",
          city: "",
          coordinates: [0, 0]
        },
        roles: [] as string[],
        id: "" as string
      },
      articles: [

      ] as Article[],
    }
  },
  components: {ToolbarModal, BlaugueCompactArticle, IonIcon, IonPage, IonModal, IonSelect}
})
</script>
<style scoped>
ion-modal:not(.settings-modal) ion-item {
  --inner-border-width: 0 0 0 0;
}

@media (min-width: 900px) {
  .articles ion-item-sliding {
    width: 50%;
  }
}
</style>
