<template>
  <ion-item-sliding>
    <ion-item class="no-border no-margin" button @click="goTo(`/p/${id}`)">
      <ion-thumbnail slot="start">
        <img :alt="`Couverture de l'article ${title}`" :src="imauges[0].urls['120']" v-if="imauges[0] !== undefined" />
        <img :alt="`Couverture de l'article ${title}`" src="/assets/article.png" v-else />
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-chip color="primary" v-if="private">Privé</ion-chip>
          <ion-chip color="warning" v-else>Public</ion-chip>
          {{ title }}
        </h3>
        <p>par {{ author.nickname }} le {{ createdAt }}</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option @click="addToList(this.id)">
        <ion-icon slot="icon-only" :icon="bookmark"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</template>

<script lang="ts">
import {goTo} from "@/functions/utils";
import {IonIcon, IonItemSliding} from "@ionic/vue"
import {bookmark} from "ionicons/icons";
import {addToList} from "@/functions/fetch/articles";

export default {
  name: 'BlaugueCompactArticle',
  methods: {
    goTo,
    addToList
  },
  props: {
    title: String,
    content: String,
    author: JSON,
    imauges: [],
    id: String,
    private: Boolean,
    categauries: [],
    createdAt: String
  },
  setup() {
    return { bookmark }
  },
  components: {IonIcon, IonItemSliding}
}
</script>

<style scoped>
ion-item-sliding {
  --inner-border-width: 0 0 0 0;
  --padding-start: 0;
  border-bottom: 1px solid var(--ion-color-medium);
  width: 95%;
  margin: auto;
}

.no-border {
  --inner-border-width: 0 0 0 0;
}

.no-margin {
  margin: 0;
}

ion-item-sliding:last-child {
  --inner-border-width: 0 0 0 0;
  border-bottom: none;
}
</style>
