<template>
  <ion-card>
    <swiper :modules="modules" :pagination="{ enabled: true, clickable: true, type: 'bullets' }">
      <swiper-slide v-if="imauges[0] === undefined">
        <img :alt="`Pas de couverture de pauste.`" src="/assets/article.png" />
      </swiper-slide>
      <swiper-slide v-for="image in imauges" v-if="imauges[0] !== undefined">
        <img :id="image.urls['360']" :alt="`Couverture du pauste ${title}`" :src="image.urls['360']"  />
      </swiper-slide>
    </swiper>
    <ion-button :color="list.includes(id) ? `light`: `primary`" @click="addToList(this.id); this.list = getList()" class="bookmark-add">
      <ion-icon :icon="bookmark"/>
    </ion-button>
    <div @click="goTo(`/p/${id}`)">
      <ion-card-header>
        <ion-card-title>{{ title }}</ion-card-title>
        <ion-card-subtitle>par {{ author.nickname }}</ion-card-subtitle>
      </ion-card-header>
      <ion-item detail lines="none" class="tags">
        <ion-chip color="primary" v-if="private">Privé</ion-chip>
        <ion-chip color="warning" v-else>Public</ion-chip>
        <ion-chip color="tertiary" v-for="type in categauries">{{ typeWithEmoji(type) }}</ion-chip>
      </ion-item>
      <ion-card-content>
        {{ description }}...
      </ion-card-content>
    </div>
  </ion-card>
</template>

<script lang="ts">
import {addToList, getList, typeWithEmoji} from "@/functions/fetch/articles";
import {goTo} from "@/functions/utils";
import {Pagination} from 'swiper/modules';
import {Swiper, SwiperSlide} from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/navigation';
import '@ionic/vue/css/ionic-swiper.css';
import {defineComponent} from "vue";
import {bookmark} from "ionicons/icons";
import {IonIcon} from "@ionic/vue";

export default defineComponent({
  name: 'BlaugueArticle',
  methods: {getList, addToList, goTo},
  props: {
    title: String,
    content: String,
    author: String,
    imauges: [],
    id: String,
    private: Boolean,
    categauries: [],
    createdAt: String
  },
  data() {
    let el = document.createElement('html')
    const content = this.$props.content || "Aucune description trouvée"
    el.innerHTML = content.toString()
    const description = el.innerText.slice(0, 35)
    return {
      description: description,
      list: getList()
    }
  },
  setup() {
    return { typeWithEmoji, bookmark, modules: [Pagination] };
  },
  components: { Swiper, SwiperSlide, IonIcon }
})
</script>

<style scoped>
ion-card {
  margin: 5px 5px 2em !important;
  box-shadow: 0 0 2px var(--ion-color-dark);
  --inner-border-width: 0 0 0 0;
  border-bottom: 0.55px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-250, #c8c7cc)));
}

.swiper, .swiper-wrapper, .swiper-slide {
  min-height: 256px;
  max-height: 256px;
  --swiper-theme-color: var(--ion-color-primary-shade);
}

.bookmark-add {
  z-index: 400;
  width: max-content;
  position: absolute;
  right: 1em;
  transform: translate(0, .5em);
}

.bookmark-add::part(native) {
  padding: 0 .3em;
}

ion-card .swiper-slide img {
  height: 256px;
  width: 512px;
  object-fit: cover;
  overflow: hidden;
}

ion-card-content {
  padding-top: 0;
}

ion-card-header {
  padding-bottom: 0;
}

.tags {
  margin-left: 1em;
  white-space: nowrap;
  --padding-start: 0;
  overflow-x: scroll;
  background-color: var(--ion-card-background);
}

ion-card ion-item::part(native) {
  background-color: var(--ion-card-background);
}

ion-chip {
  margin-top: 0;
  margin-bottom: 0;
  min-width: max-content;
}

.swiper-pagination * {
  background: var(--ion-background-color) !important;
  box-shadow: 0 0 5px var(--ion-text-color) !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background: var(--ion-background-color) !important;
  box-shadow: 0 0 5px var(--ion-text-color) !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 10px !important;
  height: 10px !important;
}

@media (min-width: 1124px) {
  ion-card .swiper-slide img {
    width: 1024px;
    height: 512px;
  }

  .swiper, .swiper-wrapper, .swiper-slide {
    min-height: 512px;
    max-height: 512px;
    min-width: 1024px;
    max-width: 1024px;
  }
}
</style>
