<template>
  <ion-page>
    <ToolbarModal href="/feed" :title="`Mes réactions personnalisées`" />
    <ion-content class="ion-padding" :fullscreen="true">
      <ion-note>
        Ajoute en et exprime tes propres émautions !
      </ion-note>
      <br>
      <div class="reactions">
        <ion-chip outline v-for="reaction in customReactions">
          <ion-label>{{ reaction.emauticone }}</ion-label>
          <ion-icon @click="deleteReaction(reaction)" :icon="closeCircle"></ion-icon>
        </ion-chip>
      </div>
      <ion-note v-if="customReactions.length <= 0">
        Aucunes réauctions personnalisées.
      </ion-note>
      <br>
      <ion-button expand="block" @click="presentForm()">Ajouter</ion-button>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {alertController, IonIcon, IonPage} from '@ionic/vue';
import BlaugueCompactArticle from "@/components/BlaugueCompactArticle.vue";
import ToolbarModal from "@/components/ModalToolbar.vue";
import {defineComponent} from "vue";
import {Reaction} from "@/functions/interfaces/reactions";
import {fetchAccount} from "@/functions/fetch/account";
import {closeCircle} from "ionicons/icons";

export default defineComponent({
  name: 'CustomReactions',
  setup() {
    return { closeCircle }
  },
  methods: {
    getCustomReactions() {
      return JSON.parse(localStorage.getItem('customReactions') || '[]')
    },
    async addReaction(emoji: string, text: string) {
      const user = await fetchAccount()
      this.customReactions.push({
        id: 'custom',
        author: user,
        emauticone: `${emoji} ${text}`
      })
      localStorage.setItem('customReactions', JSON.stringify(this.customReactions))
    },
    deleteReaction(reaction: Reaction) {
      this.customReactions.splice(this.customReactions.indexOf(reaction), 1)
      localStorage.setItem('customReactions', JSON.stringify(this.customReactions))
    },
    async presentForm() {
      const alert = await alertController.create({
        header: 'Ajouter une réauction',
        subHeader: 'Sélectionne un émauticone et écris ce qu\'il t\'évoque',
        inputs: [
          {
            name: 'Emoji',
            placeholder: '😀',
            attributes: {
              maxlength: 2,
              pattern: '[^A-Za-z0-9_.]+$'
            }
          },
          {
            name: 'Texte',
            type: 'url',
            placeholder: 'Heureux',
            attributes: {
              pattern: '^[A-Za-z0-9_.]+$'
            }
          },
        ],
        buttons: [
          {
            text: 'Annuler',
            role: 'cancel',
            cssClass: 'secondary'
          },
          {
            text: 'Ajouter',
            handler: (event) => {
              const emoji = event.Emoji
              const text = event.Texte
              if (!text.match('^[A-Za-z0-9_.]+$')) {
                this.presentErrorAlert('Champ invalide', 'Le champ texte dois seulement contenir des lettre, des chiffre, . ou _ !')
                return
              }
              if (!emoji.match('[^A-Za-z0-9_.]+$')) {
                this.presentErrorAlert('Champ invalide', 'Le champ emoji dois seulement contenir un émoji de taille 2 !')
                return
              }
              this.addReaction(emoji, text)
            },
          },
        ],
      });
      return alert.present();
    },
    async presentErrorAlert(title: string, description: string) {
      const alert = await alertController.create({
        header: title,
        subHeader: description
      })
      await alert.present()
    }
  },
  created() {
    this.customReactions = this.getCustomReactions()
  },
  data() {
    return {
      customReactions: [

      ] as Reaction[],
    }
  },
  components: {ToolbarModal, BlaugueCompactArticle, IonPage, IonIcon}
})
</script>
<style scoped>
ion-note {
  width: 100%;
  margin-top: 2em;
  text-align: center;
  display: block;
}
</style>
