<template>
  <ion-page>
    <ToolbarModal href="/feed" :title="`Informations`"></ToolbarModal>
    <ion-content :fullscreen="true" class="ion-padding">
      <img alt="Image de Blaugue" src="/assets/header.png">
      <h1>Blaugue</h1>
      <p>Un blog rigolo plein de fonctionnalités pour toute la famille ! (et en plus <a target="_blank" href="https://gitlab.com/comtelabs/blaugue">open source</a> 🤩).</p>
      <details>
        <summary>Informations de connexion</summary>
        <ion-note class="no-align">
          Vous naviguez sur <em>{{ url }}</em>, et utilisez <em>{{ api }}</em> comme API Blaugue.
        </ion-note>
      </details>
      <ion-note>
        Blaugue avec ♥️ par <a href="mailto:silvere@comtelabs.fr">Silvère</a> & <a href="mailto:armand@camponovo.xyz">Armand</a>.
      </ion-note>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {IonPage} from '@ionic/vue';
import {ellipsisVertical, flag, mail, settings} from 'ionicons/icons'
import ToolbarModal from "@/components/ModalToolbar.vue";

export default {
  name: 'Infos',
  setup() {
    return { mail, flag, settings, ellipsisVertical }
  },
  data() {
    const api = import.meta.env.VITE_BACKEND_URL
    const url = import.meta.env.VITE_SERVED_URL
    return {
      api: api,
      url: url
    }
  },
  components: {ToolbarModal, IonPage}
}
</script>
<style scoped>
ion-note:not(.no-align) {
  width: 100%;
  margin-top: 2em;
  text-align: center;
  display: block;
}
</style>
