
<template>
  <ion-list :class="disposition" :inset="true">
    <div class="interaction" v-for="interaction in interactions">
      <div class="figure">
        <img :src="interaction.authorsAvatar" :alt="`Phauto de ${interaction.authorsNickname}`" />
        <span v-if="interaction.interactionType === 'sociaule'"><p>{{ getEmoji(interaction.content) }}</p></span>
        <span v-if="interaction.interactionType === 'sociauleOfComment'"><p class="small">{{ getEmoji(interaction.content) }}</p></span>
        <span v-if="interaction.interactionType === 'caummente'" class="comment" :id="interaction.id">
          <p v-if="disposition === 'grid'" :title="interaction.content">{{ interaction.content.slice(0, 15) }}...</p>
          <p v-else :title="interaction.content">{{ interaction.content.slice(0, 9) }}...</p>
        </span>
        <span v-if="interaction.interactionType === 'sociauleOfComment'" class="behind"><p>💭</p></span>
      </div>
      <div class="content">
        <h4>
          <router-link :to="`/u/${interaction.authorsNickname}`">{{ interaction.authorsNickname }}</router-link> a
          <span v-if="interaction.interactionType === 'caummente'">caummenté</span>
          <span v-if="['sociaule', 'sociauleOfComment'].includes(interaction.interactionType)">réaugi</span>
        </h4>
        <p v-if="interaction.interactionType === 'sociauleOfComment'">sur un caummentaire de <router-link :to="`/p/${interaction.pausteId}#comments`">{{ interaction.pausteTitle.slice(0, 18) }}<span v-if="interaction.pausteTitle.length > 18">...</span></router-link></p>
        <p v-else-if="interaction.interactionType === 'caummente'">sur le pauste <router-link :to="`/p/${interaction.pausteId}#comments`">{{ interaction.pausteTitle.slice(0, 18) }}<span v-if="interaction.pausteTitle.length > 18">...</span></router-link></p>
        <p v-else>sur le pauste <router-link :to="`/p/${interaction.pausteId}`">{{ interaction.pausteTitle.slice(0, 18) }}<span v-if="interaction.pausteTitle.length > 18">...</span></router-link></p>
      </div>
    </div>
  </ion-list>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import {Interaction} from "@/functions/interfaces/ineractions";
import {getEmoji} from "../functions/fetch/reactions";
import {getLast30Interactions} from "@/functions/fetch/interactions";

export default defineComponent({
  components: {},
  methods: {
    getEmoji,
    async refresh() {
      this.interactions = await getLast30Interactions()
      this.disposition = localStorage.getItem('appearanceInteractionsDisposition') || 'list'
    },
  },
  mounted() {
    this.refresh()
  },
  beforeUpdate() {
    this.disposition = localStorage.getItem('appearanceInteractionsDisposition') || 'list'
  },
  data() {
    const interactions = [] as Interaction[]
    const disposition = localStorage.getItem('appearanceInteractionsDisposition') || 'list'
    return {
      interactions: interactions,
      disposition: disposition
    }
  }
})
</script>

<style scoped>
ion-list.grid {
  padding-top: 2em;
  display: grid;
  margin: auto;
  align-items: center;
  grid-template-columns: repeat(2, minmax(11em, 1fr));
  justify-items: center;
  row-gap: 2em;
}

.grid .interaction {
  flex-direction: column;
  border: .55px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-250, #c8c7cc)));
  border-radius: 15px;
  width: 10em;
  height: max-content;
}

.grid .interaction .figure, .grid .interaction .content {
  width: 100%;
}

.grid .interaction .figure img {
  border-radius: 15px 15px 0 0;
  width: 20em;
  height: 8em;
  object-fit: cover;
  background-color: var(--ion-color-medium);
}

.grid .interaction .content {
  padding-left: .5em;
}

.grid .interaction .figure span p, .grid .interaction .figure span p.small {
  font-size: 3em
}

.grid .interaction .figure span.comment {
  font-size: 1.1em;
  transform: translate(0em, 1.5em);
}

.grid .interaction .figure span.behind {
  display: none;
}

.grid .interaction .content h4 {
  font-size: 1.1em;
}

.grid .interaction .content p {
  font-size: .9em;
}

ion-list {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.interaction .content h4 {
  margin-bottom: 0;
}

.interaction .content p {
  margin-top: 0;
}

.interaction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.interaction .figure {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interaction .figure img {
  border-radius: 15px;
  margin: auto;
  width: 5.5em;
  height: 5.5em;
  object-fit: cover;
}

.interaction .figure span {
  height: 2em;
  width: 2.1em;
  text-shadow: 0 0 2px #222;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(2.5em, 1.6em);
  z-index: 5;
  position: absolute;
}

.interaction .figure span.comment {
  background: var(--secondary-background);
  height: 1.5em;
  border-radius: 13px;
  padding-left: .5em;
  padding-right: .5em;
  width: max-content;
  transform: translate(1em, 1.6em);
}

.interaction .figure span.comment p {
  color: var(--secondary-foreground);
  text-overflow: ellipsis;
  height: 1em;
  word-break: break-all;
  text-shadow: 0 0 0;
}

.interaction .figure span.behind {
  transform: translate(2.5em, 2em);
  z-index: 4;
}

.interaction .figure span p {
  font-size: 2em;
}

.interaction .figure span p.small {
  font-size: 1.6em;
}

.interaction .figure span.comment p {
  font-size: .85em;
}

.interaction .figure span.behind p {
  font-size: 3em;
}

.interaction .content {
  width: 60%;
}

.interaction .content p {
  color: var(--ion-color-medium);
}

@media (min-width: 900px) {
  ion-list:not(.grid) .interaction:first-child {
    margin-top: 5em;
  }

  .interaction {
    justify-content: center;
    margin-bottom: 2em;
  }

  .interaction .content {
    width: 30%;
  }

  .interaction .figure {
    width: 20%;
  }
}

</style>
