
<template>
  <ion-list inset="true">
    <LoadingArticle v-if="articles.length == 0"/>
    <ion-item v-for="article in articles" v-if="disposition === 'card'">
      <BlaugueArticle v-bind="article" />
    </ion-item>
    <BlaugueCompactArticle v-for="article in articles" v-else v-bind="article" />
  </ion-list>
</template>

<script lang="ts">
import BlaugueArticle from "@/components/BlaugueArticle.vue";
import {getLast10Articles} from "@/functions/fetch/articles";
import {Article} from "@/functions/interfaces/articles";
import LoadingArticle from "@/components/LoadingArticle.vue";
import {defineComponent} from "vue";
import {Image} from "@/functions/interfaces/images";
import BlaugueCompactArticle from "@/components/BlaugueCompactArticle.vue";

export default defineComponent({
  components: {BlaugueCompactArticle, LoadingArticle, BlaugueArticle},
  methods: {
    async refresh() {
      this.articles = []
      await getLast10Articles()
        .then((articles: Array<Article>) => {
          for (const article of articles) {
            const date = new Date(article['createdAt'])
            article['createdAt'] = date.toLocaleDateString()
            if (article.imauges[0]) this.firstImages.push(article.imauges[0])
            if (article.imauges[1]) this.images.push(...article.imauges.slice(1, article.imauges.length))
            this.articles.push(article)
          }
        })
    },
    async loadImages(images: Image[]) {
      for (const image of images) {
        const element = document.getElementById(image.urls['360'])
        if (element) {
          await fetch(image.urls['1024']).then(response => response.blob()).then(blob => {
            const imageBlob = URL.createObjectURL(blob)
            element.setAttribute('src', imageBlob)
          })
        }
      }
    },
  },
  mounted() {
    this.refresh().then(() => {
      setTimeout(() => {
        this.loadImages(this.firstImages).then(() => {
          this.loadImages(this.images)
        })
      }, 500)
    })
  },
  beforeUpdate() {
    this.disposition = localStorage.getItem('appearanceCardsDisposition') || 'card'
  },
  data() {
    const articles = [] as Article[]
    const disposition = localStorage.getItem('appearanceCardsDisposition') || 'card'
    return {
      articles: articles,
      firstImages: [] as Image[],
      images: [] as Image[],
      disposition: disposition
    }
  }
})
</script>

<style scoped>
ion-list {
  margin: 1em 0 0 !important;
}
ion-item {
  --inner-border-width: 0 0 0 0;
}
@media (min-width: 1024px) {
  ion-item {
    padding-bottom: 1em;
  }
  ion-item ion-card {
    margin: auto !important;
  }
}
</style>
