<template>
  <ion-card>
    <ion-skeleton-text style="width: 100%; height: 15em; border-radius: 0; margin-top: 0;" :animated="true"/>
    <ion-card-header>
      <ion-card-title><ion-skeleton-text :animated="true" style="width: 40%;"/></ion-card-title>
      <ion-card-subtitle><ion-skeleton-text :animated="true" style="width: 70%;"/></ion-card-subtitle>
    </ion-card-header>
    <ion-item detail lines="none" class="tags">
      <ion-chip color="primary"><ion-skeleton-text :animated="true" style="width: 50px"/></ion-chip>
    </ion-item>
    <ion-card-content>
      <ion-skeleton-text :animated="true" style="width: 80%"/>
      <ion-skeleton-text :animated="true" style="width: 30%"/>
    </ion-card-content>
  </ion-card>
</template>

<script lang="ts">

export default {
  name: 'LoadingArticle',
}
</script>

<style scoped>
ion-skeleton-text {
  border-radius: 15px;
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

ion-card {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 2px var(--ion-color-dark);
  --inner-border-width: 0 0 0 0;
  border-bottom: 1px solid var(--ion-color-medium-tint);
  width: 90%;
}

@media (min-width: 1024px) {
  ion-card {
    width: 1024px;
    margin: auto !important;
  }
}
</style>
