<template>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour" :defaultHref="href || '/home'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</template>

<script lang="ts">
import { IonBackButton, IonButtons, IonToolbar } from '@ionic/vue';
import { addCircle } from 'ionicons/icons'

export default {
  name: 'ModalToolbar',
  props: {
    title: String,
    href: String || null
  },
  setup() {
    return { addCircle }
  },
  components: { IonBackButton, IonButtons, IonToolbar }
}
</script>
