<template>
  <ion-page>
    <ToolbarModal :title="`${article.title}`"></ToolbarModal>
    <ion-action-sheet trigger="open-more" @didDismiss="handleMoreSheet($event)" :buttons="moreButtons" header="Plus d'action"></ion-action-sheet>
    <ion-content ref="readArticleContent" :forceOverscroll="true" :fullscreen="true">
      <ion-content class="ion-no-padding first-section">
        <ion-refresher slot="fixed" @ionRefresh="refresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <swiper :modules="modules" :pagination="{ enabled: true, clickable: true, type: 'bullets' }" effect="coverflow">
          <swiper-slide v-if="article.imauges[0] === undefined">
            <img :alt="`Pas de couverture de pauste.`" src="/assets/article.png" />
          </swiper-slide>
          <swiper-slide v-for="image in article.imauges" v-else>
            <img :alt="`Imauge du pauste ${article.title}`" :src="image.urls['1024']"  />
          </swiper-slide>
        </swiper>
      </ion-content>
      <div class="ion-padding article-content">
        <ion-item class="text-header ion-no-padding no-padding" lines="none">
          <ion-label class="ion-text-wrap fullwidth">
            <h1 class="article-title" style="font-weight: bold;">{{ article.title }}</h1>
            <div @click="goTo(`/u/${article.author.nickname}`)" class="user">
              <img :alt="`${article.author.nickname} Phauto de praufil`" :src="article.author.avatar">
              <div class="infos">
                <h3>{{ article.author.nickname }}</h3>
                <p>Le {{ article.createdAt }}</p>
              </div>
            </div>
            <p v-if="article.location"><ion-icon v-if="article.location.city || article.location.country" :icon="flag"/>&nbsp;<span v-if="article.location.country">Au {{article.location.country}}</span><span v-if="article.location.city">, à {{article.location.city}}</span></p>
          </ion-label>
        </ion-item>
        <ion-item detail lines="none" :scroll-x="true" class="carousel">
          <ion-chip color="primary" v-if="article.private">Privé</ion-chip>
          <ion-chip color="warning" v-else>Public</ion-chip>
          <ion-chip color="tertiary" v-for="type in article.categauries">{{ typeWithEmoji(type) }}</ion-chip>
        </ion-item>
        <ion-item v-if="article.sociaules.length > 0" :scroll-x="true" class="carousel" id="reactions">
          <ion-chip :outline="reaction.emauticone.includes('[custom]')" v-for="reaction in article.sociaules" :title="`par ${reaction.author.nickname}`">
            <ion-avatar>
              <img :alt="`${reaction.author.nickname} Photo`" :src="reaction.author.avatar" />
            </ion-avatar>
            <ion-label :id="`reac${reaction.id}`">{{ reaction.emauticone.replace('[custom]', '') }}&nbsp;</ion-label>
            <ion-icon @click="deleteReaction(reaction)" v-if="userId === reaction.author.id" :icon="closeCircle"></ion-icon>
            <ion-popover :trigger="`reac${reaction.id}`" trigger-action="click">
              <ion-content class="ion-padding">{{ reaction.author.nickname }} à réagi: "{{ reaction.emauticone.replace('[custom]', '') }}"</ion-content>
            </ion-popover>
          </ion-chip>
          <div class="reactions hidden">
            <div v-for="reaction in article.sociaules" class="big">
              <img :alt="`${reaction.author.nickname} Photo`" :src="reaction.author.avatar" />
              <span><p>{{ getEmoji(reaction.emauticone) }}</p></span>
            </div>
          </div>
          <ion-icon class="custom-detail-icon" size="small" @click="expandReactions('reactions')" :icon="chevronExpand" slot="end" />
        </ion-item>
        <ion-item @click="scrollToComments()" button lines="none" :detail-icon="returnDownBack">
          Aller aux caummentaires
        </ion-item>
        <div class="ck ck-content" v-html="article.content"/>
        <ion-item id="comments" detail lines="none" :detail-icon="chatbubblesOutline">
          Caummentaires
        </ion-item>
        <div v-for="comment in article.caummentes">
          <ion-item lines="none">
            <ion-avatar class="comment-avatar" slot="start">
              <img :alt="`${comment.author.nickname} Photo`" :src="comment.author.avatar" />
            </ion-avatar>
            <ion-label class="comment-content">
              <p>{{ comment.author.nickname }}</p>
              <h4>{{ comment.content }}</h4>
            </ion-label>
            <ion-icon color="primary" @click="deleteComment(comment)" v-if="comment.author.id === userId" :icon="trash" />
            <ion-icon :id="`open-modify${comment.id}`" color="secondary" v-if="comment.author.id === userId" :icon="colorWand" />
            <ion-icon :id="`open-comment-reactions${comment.id}`" color="primary" :icon="ellipsisVertical" />
            <ion-action-sheet class="action-sheet-reactions" :trigger="`open-comment-reactions${comment.id}`" @didDismiss="handleReactionSheet($event, comment)" :buttons="reactionButtons" header="Réactions"></ion-action-sheet>
            <ion-modal :ref="`updateCommentModal${comment.id}`" :initial-breakpoint="0.25" :breakpoints="[0, 0.25, 0.5, 0.75]" :trigger="`open-modify${comment.id}`">
              <ion-header>
                <ion-toolbar>
                  <ion-title>Modifier</ion-title>
                  <ion-buttons slot="end">
                    <ion-button @click="updateComment(comment)"><ion-icon color="primary" :icon="send"/></ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content>
                <ion-item>
                  <ion-input :value="comment.content" placeholder="Super pauste !" :ref="`updateComment${comment.id}`" type="text" />
                </ion-item>
              </ion-content>
            </ion-modal>
          </ion-item>
          <ion-item v-if="comment.sociaules.length > 0" :scroll-x="true" class="carousel" :id="`comment${comment.id}`">
            <ion-chip :outline="reaction.emauticone.includes('[custom]')" v-for="reaction in comment.sociaules" :title="`par ${reaction.author.nickname}`">
              <ion-avatar>
                <img :alt="`${reaction.author.nickname} Photo`" :src="reaction.author.avatar" />
              </ion-avatar>
              <ion-label :id="`commentReac${reaction.id}`">{{ reaction.emauticone.replace('[custom]', '') }}&nbsp;</ion-label>
              <ion-icon @click="deleteReaction(reaction, comment)" v-if="userId === reaction.author.id" :icon="closeCircle"></ion-icon>
              <ion-popover :trigger="`commentReac${reaction.id}`" trigger-action="click">
                <ion-content class="ion-padding">{{ reaction.author.nickname }} à réagi: "{{ reaction.emauticone.replace('[custom]', '') }}"</ion-content>
              </ion-popover>
            </ion-chip>
            <div class="reactions hidden">
              <div v-for="reaction in comment.sociaules" class="big">
                <img :alt="`${reaction.author.nickname} Photo`" :src="reaction.author.avatar" />
                <span><p>{{ getEmoji(reaction.emauticone) }}</p></span>
              </div>
            </div>
            <ion-icon class="custom-detail-icon" size="small" @click="expandReactions(`comment${comment.id}`)" :icon="chevronExpand" slot="end" />
          </ion-item>
        </div>
        <br>
        <ion-item class="form">
          <ion-avatar slot="start">
            <img :alt="`${user.nickname} Photo`" :src="user.avatar" />
          </ion-avatar>
          <ion-input placeholder="Super pauste !" ref="comment" type="text" />
          <ion-icon @click="addComment()" slot="end" color="primary" :icon="send" />
        </ion-item>
        <br>
        <br>
        <br>
        <br>
      </div>
      <ion-fab id="open-more" slot="fixed" vertical="bottom" horizontal="start">
        <ion-fab-button>
          <ion-icon :icon="ellipsisHorizontal"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab id="open-reactions" slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button>
          <ion-icon :icon="heart"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
    <ion-action-sheet class="action-sheet-reactions" trigger="open-reactions" @didDismiss="handleReactionSheet($event)" :buttons="reactionButtons" header="Réauctions"></ion-action-sheet>
  </ion-page>
</template>

<script lang="ts">
import {
  ActionSheetButton,
  IonActionSheet,
  IonContent,
  IonIcon,
  IonInput,
  IonModal,
  IonPage,
  IonRefresher,
  IonRefresherContent,
  loadingController
} from '@ionic/vue';
import {
  chatbubblesOutline,
  chevronCollapse,
  chevronExpand,
  closeCircle,
  colorWand,
  ellipsisHorizontal,
  ellipsisVertical,
  flag,
  heart,
  returnDownBack,
  send,
  trash
} from 'ionicons/icons'
import ToolbarModal from "@/components/ModalToolbar.vue";
import {
  addToList,
  deleteArticle,
  getArticle,
  getPublicArticle,
  manageArticleCensure,
  typeWithEmoji
} from "@/functions/fetch/articles";
import {goTo, share} from "@/functions/utils";
import {Dialog} from '@capacitor/dialog';
import {addArticleReaction, addCommentReaction, deleteReaction, emote, getEmoji} from "@/functions/fetch/reactions";
import {fetchAccount} from "@/functions/fetch/account";
import {addComment, deleteComment, updateComment} from "@/functions/fetch/comments";
import {Reaction, reactionButtons} from "@/functions/interfaces/reactions";
import {EffectCoverflow, Pagination} from 'swiper/modules';
import {Swiper, SwiperSlide} from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/navigation';
import '@ionic/vue/css/ionic-swiper.css';
import {defineComponent} from "vue";
import {Comment} from "@/functions/interfaces/comments";
import {User} from "@/functions/interfaces/users";
import {Image} from "@/functions/interfaces/images";

export default defineComponent({
  name: 'ReadArticle',
  created() {
    this.refresh()
  },
  mounted() {
    if (location.hash.includes('comments')) {
      this.scrollToComments()
    }
  },
  data() {
    return {
      article: {
        title: "",
        author: {

        } as User,
        sociaules: [] as Reaction[],
        imauges: [] as Image[],
        caummentes: [] as Comment[],
        categauries: [] as string[],
        id: "" as string,
        censured: false,
        private: true,
        content: "" as string,
        location: {
          city: "" as string,
          country: "" as string
        }
      },
      user: {

      } as User,
      userId: localStorage.getItem('userId'),
      moreButtons: [] as ActionSheetButton[],
      reactionButtons: [] as ActionSheetButton[]
    }
  },
  methods: {
    goTo,
    getEmoji,
    async loader(title: string) {
      const loading = await loadingController.create({
        message: title,
        spinner: "dots"
      });
      await loading.present();
      return loading
    },
    refresh(event: CustomEvent | null = null) {
      setTimeout((event) => {
        const articleId = this.$route.params.id as string
        if (!localStorage.getItem('userToken')) {
          this.loadArticle(articleId, false)
          this.moreButtons = [
            {
              text: '🔗 Partager',
              data: {
                action: 'share',
              },
            }
          ]
          const buttonToHide = document.getElementById('open-reactions') as HTMLIonFabButtonElement
          buttonToHide.setAttribute('style', 'display: none')
        } else {
          fetchAccount().then(user => {
            this.user = user
            this.loadArticle(articleId)
          })
        }
        if (event) event.target.complete()
      }, 2000, event);
    },
    loadArticle(articleId: string, privateArticle: boolean = true) {
      const getObject = privateArticle ? getArticle : getPublicArticle
      getObject(articleId).then(article => {
        const date = new Date(article['createdAt'])
        article['createdAt'] = date.toLocaleDateString()
        this.article = article
        const moreButtons =  [
          {
            text: '🔗 Partager',
            data: {
              action: 'share',
            },
          }
        ]
        if (localStorage.getItem('userList')) {
          if (JSON.parse(localStorage.getItem('userList') || "[]").includes(this.article.id)) {
            moreButtons.push({
              text: '📌 Supprimer de la liste de lecture',
              data: {
                action: 'reading-list',
              },
            })
          } else {
            moreButtons.push({
              text: '📌 Ajouter à la liste de lecture',
              data: {
                action: 'reading-list',
              },
            })
          }
        } else {
          moreButtons.push({
            text: '📌 Ajouter à la liste de lecture',
            data: {
              action: 'reading-list',
            },
          })
        }
        if (localStorage.getItem('userId') == this.article.author.id) {
          moreButtons.push({
            text: '🗑️ Supprimer',
            data: {
              action: 'delete',
            },
          })
          moreButtons.push({
            text: '✏️ Modifier',
            data: {
              action: 'modify',
            },
          })
        }
        if (this.user.roles) if (this.user.roles.includes('Mauderateur')) {
          moreButtons.push({
            text: !this.article.censured ? '⛔ Censurer' : '⛔ Enlever la censurer',
            data: {
              action: 'censure',
            },
          })
        }
        this.moreButtons = moreButtons
        this.reactionButtons = reactionButtons
      })
    },
    expandReactions(elementId: string) {
      const element = document.getElementById(elementId) as HTMLIonItemElement
      Array.from(element.children).forEach(child => {
        if (child) if(child.tagName !== 'ION-ICON') child.classList.toggle('hidden')
      })
      const icon = element.querySelector('ion-icon:not(ion-chip > ion-icon)') as HTMLIonIconElement
      icon.classList.toggle('expended')
      icon.icon = icon.classList.contains('expended') ? chevronCollapse : chevronExpand
    },
    scrollToComments() {
      const articleContent = this.$refs.readArticleContent as typeof IonContent
      articleContent.scrollToBottom(500)
    },
    async addComment() {
      const commentInput = this.$refs.comment as HTMLIonInputElement
      const content = commentInput.value as string
      const loader = await this.loader('Ajout du caummentaire')
      let comment = await addComment(this.article.id, content)
      await loader.dismiss()
      comment.author = this.user
      this.article.caummentes.push(comment)
      commentInput.value = ''
    },
    async deleteComment(comment: Comment) {
      const sure = await Dialog.confirm({
        title: 'Êtes vous sûr ?',
        message: 'Voulez-vous vraiment supprimer ce caummentaire ?'
      })
      if (sure.value) {
        const loader = await this.loader('Suppression du caummentaire')
        await deleteComment((comment.id))
        this.article.caummentes.splice(this.article.caummentes.indexOf(comment), 1)
        await loader.dismiss()
      }
    },
    async updateComment(comment: Comment) {
      const loader = await this.loader('Mise à jour du caummentaire')
      const updateCommentInputs = this.$refs[`updateComment${comment.id}`] as typeof IonInput
      const content = updateCommentInputs[0].value as string
      let commentCopy = comment
      await updateComment(comment.id, content)
      this.article.caummentes.splice(this.article.caummentes.indexOf(comment), 1)
      commentCopy.content = content
      this.article.caummentes.push(commentCopy)
      await loader.dismiss()
      updateCommentInputs[0].$el.dismiss()
    },
    async deleteReaction(reaction: Reaction, comment: Comment | undefined = undefined) {
      const loader = await this.loader('Suppression de la réauction')
      await deleteReaction(reaction.id)
      if (!comment) {
        this.article.sociaules.splice(this.article.sociaules.indexOf(reaction), 1)
      } else {
        const concernedComment = this.article.caummentes[this.article.caummentes.indexOf(comment)]
        concernedComment.sociaules.splice(concernedComment.sociaules.indexOf(reaction), 1)
      }
      await loader.dismiss()
    },
    async handleMoreSheet(event: CustomEvent) {
      if (!event.detail.data) {
        return
      }
      switch (event.detail.data.action) {
        case "share":
          const url = `${import.meta.env.VITE_SERVED_URL}/p/${this.article.id}`
          await share(`${this.article.title} sur Blaugue`, `Viens lire ce pauste sur Blaugue !`, url, 'Partager un pauste')
          return
        case "reading-list":
          addToList(this.article.id)
          return
        case "delete":
          const sure = await Dialog.confirm({
            title: 'Êtes vous sûr ?',
            message: 'Voulez-vous vraiment supprimer ce pauste ?'
          })
          if (sure.value) {
            await deleteArticle(this.article.id)
            await goTo('/account')
          }
          return
        case "modify":
          await goTo(`/edit/${this.article.id}`)
          return
        case "censure":
          await manageArticleCensure(this.article.id, !this.article.censured)
          this.refresh()
          return
      }
    },
    async handleReactionSheet(event: CustomEvent, comment: Comment | undefined = undefined) {
      if (!event.detail.data) {
        return
      }
      const reaction = event.detail.data.action === 'custom' ? `${event.detail.data.label}[custom]` : emote(event.detail.data.action)
      const loader = await this.loader('Ajout de la réauction')
      if (!comment) {
        const result = await addArticleReaction(this.article.id, reaction)
        result.author = this.user
        this.article.sociaules.push(result)
      } else {
        const result = await addCommentReaction(comment.id, reaction)
        result.author = this.user
        comment.sociaules.push(result)
        this.article.caummentes.splice(this.article.caummentes.indexOf(comment), 1)
        this.article.caummentes.push(comment)
      }
      loader.dismiss()
    }
  },
  setup() {
    return { heart, ellipsisHorizontal, chatbubblesOutline, chevronExpand, typeWithEmoji, closeCircle, returnDownBack, send, flag, colorWand, trash, ellipsisVertical, modules: [Pagination, EffectCoverflow] };
  },
  components: {Swiper, IonIcon, IonActionSheet, ToolbarModal, IonPage, IonModal, IonRefresher, IonRefresherContent, SwiperSlide }
})
</script>
<style>
ion-action-sheet.action-sheet-reactions .action-sheet-button.custom {
  color: var(--ion-color-tertiary) !important;
}
</style>
<style scoped>
.first-section {
  z-index: 50;
  height: 50%;
}

.article-content {
  height: max-content;
}

.article-title {
  width: 100%;
  text-align: center;
  margin-bottom: .75em;
}

.custom-detail-icon {
  margin-inline-start: calc(var(--inner-padding-end) / 2);
  margin-inline-end: -6px;
  color: var(--detail-icon-color);
  font-size: var(--detail-icon-font-size);
  opacity: var(--detail-icon-opacity);
}


.swiper, .swiper-wrapper, .swiper-slide {
  --swiper-theme-color: var(--ion-color-primary-shade);
}

.swiper {
  z-index: 500;
}

.swiper-slide, .swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  max-height: unset;
  object-fit: cover;
}

.swiper-pagination {
  z-index: 502 !important;
}

.swiper-pagination * {
  background: var(--ion-background-color) !important;
  box-shadow: 0 0 5px var(--ion-text-color) !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background: var(--ion-background-color) !important;
  box-shadow: 0 0 5px var(--ion-text-color) !important;
}

.reactions {
  display: flex;
  align-items: center;
  gap: 20px;
  width: max-content;
}

.reactions .big {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  width: max-content;
}

.reactions .big img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.reactions .big span {
  height: 2em;
  width: 2.1em;
  text-shadow: 0 0 2px #222;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(60px, -30px);
}

.reactions .big span p {
  font-size: 2.2em;
}

.hidden {
  display: none;
}

.text-header {
  --padding-start: 0;
}

ion-refresher {
  z-index: 100;
}

.header {
  margin: auto;
  display: block;
}

.carousel {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  --padding-start: 0;
}

.carousel::-webkit-scrollbar {
  width: 5px;
}
.carousel ion-chip {
  width: max-content;
  min-width: max-content;
}

.comment-content {
  white-space: normal;
}

.comment-avatar {
  align-self: baseline;
  margin-top: .75em;
}

@media (min-width: 1250px) {
  ion-item, img.header, .carousel {
    width: 50%;
    margin: auto;
    display: block;
  }

  ion-item.form {
    --padding-start: 0;
  }

  .ck-content {
    width: 50%;
    margin: auto auto 5em;
  }
}
</style>
