<template>
  <ion-page>
    <ToolbarModal href="/feed" :title="`Ma liste de lecture`"></ToolbarModal>
    <ion-content :fullscreen="true">
      <div class="articles">
        <BlaugueCompactArticle v-bind="article" v-for="article in articles" />
      </div>
      <ion-note v-if="articles.length <= 0">
        Rien encore ici. Ajouter des paustes à votre liste de lecture !
      </ion-note>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {IonPage} from '@ionic/vue';
import { mail, flag, settings, ellipsisVertical } from 'ionicons/icons'
import BlaugueCompactArticle from "@/components/BlaugueCompactArticle.vue";
import ToolbarModal from "@/components/ModalToolbar.vue";
import {addToList, getArticle} from "@/functions/fetch/articles";
import {Article} from "@/functions/interfaces/articles";
import {defineComponent} from "vue";

export default defineComponent({
  name: 'ReadingList',
  setup() {
    return { mail, flag, settings, ellipsisVertical }
  },
  methods: {
    async getArticles(): Promise<Array<Article>> {
      let hasList = localStorage.getItem('userList')
      if (!hasList) {
        localStorage.setItem('userList', JSON.stringify([]))
        hasList = "[]"
      } else {
      }
      const articlesIds: Array<string> = JSON.parse(hasList)
      let articles: Array<Article> = []
      for (const id of articlesIds) {
        await getArticle(id).then(response => {
          if (response.code) {
            if (!['404', 404, 1055].includes(response.code)) {
              articles.push(response)
            } else {
              addToList(id)
            }
          }
        })
      }
      return articles
    }
  },
  created() {
    this.getArticles().then(articles => {
      this.articles = articles
    })
  },
  data() {
    return {
      articles: [

      ] as Article[],
    }
  },
  components: {ToolbarModal, BlaugueCompactArticle, IonPage}
})
</script>
<style scoped>
ion-note {
  width: 100%;
  margin-top: 2em;
  text-align: center;
  display: block;
}
</style>
