<template>
  <ion-page>
    <ToolbarModal href="/account" :title="`Paramètres de compte`"></ToolbarModal>
    <ion-content :fullscreen="true" class="ion-padding">
      <ion-label position="stacked">
        <h2>Changer de mot de passe</h2>
        <p>Le changement sera immédiat !</p>
      </ion-label>
      <ion-item class="no-border ion-no-padding">
        <ion-input label="Nouveau mot de passe" label-placement="stacked" @input="newPassword = $event.target.value" :value="newPassword" type="password" placeholder="*******"></ion-input>
        <ion-label slot="end">
          <ion-button color="primary" @click="changePassword()">Enregistrer</ion-button>
        </ion-label>
      </ion-item>
      <ion-item class="no-border ion-no-padding">
        <ion-label position="stacked" slot="start">
          <h2>Se déconnecter</h2>
          <p>Déconnecte toi.</p>
        </ion-label>
        <ion-label slot="end">
          <ion-button color="secondary" @click="logOut()">Se déconnecter</ion-button>
        </ion-label>
      </ion-item>
      <ion-item :scroll-x="true" class="ion-no-padding ion-no-margin no-border">
        <ion-label style="flex-grow: .5">
          <ion-thumbnail class="img-wrapper">
            <img :src="user.avatar" alt="Votre photo de profil">
          </ion-thumbnail>
        </ion-label>
        <ion-label>
          <h3>Statut du compte</h3>
          <ion-chip v-if="user.authorized" color="primary">Autorisé</ion-chip>
          <ion-chip v-else color="warning">En attente d'approbation</ion-chip>
        </ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-no-margin no-border">
        <ion-label>
          <h2>{{ user.nickname }}</h2>
          <p>Informations avancées</p>
        </ion-label>
        <ion-label>
          <h3>Créé le</h3>
          <p>{{ user.createdAt }}</p>
        </ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-align-items-baseline">
        <ion-label>
          <h3>Rôles</h3>
          <span v-for="role in user.roles">
            <ion-chip color="tertiary" v-if="user.roles.length > 0">{{ role }}</ion-chip>
            <br>
          </span>
        </ion-label>
        <ion-label>
          <h3>Restrictions</h3>
          <ion-chip v-if="user.is_banned" color="primary">Banni</ion-chip>
          <ion-chip v-else color="tertiary">Aucunes</ion-chip>
        </ion-label>
      </ion-item>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {IonPage, IonSelect} from '@ionic/vue';
import {ellipsisVertical, flag, mail, settings} from 'ionicons/icons'
import BlaugueCompactArticle from "@/components/BlaugueCompactArticle.vue";
import ToolbarModal from "@/components/ModalToolbar.vue";
import {defineComponent} from "vue";
import {fetchAccount, updatePassword} from "@/functions/fetch/account";
import {goTo} from "@/functions/utils";
import {User} from "@/functions/interfaces/users";

export default defineComponent({
  name: 'SettingsAppearance',
  setup() {
    return { mail, flag, settings, ellipsisVertical }
  },
  methods: {
    logOut() {
      localStorage.removeItem('userId')
      localStorage.removeItem('userName')
      localStorage.removeItem('userToken')
      localStorage.removeItem('userList')
      localStorage.removeItem('userCreds')
      location.href = '/login'
    },
    async changePassword() {
      await updatePassword(this.newPassword)
      await goTo('/account')
    },
  },
  created() {
    fetchAccount().then(user => this.user = user)
  },
  data() {
    return {
      newPassword: '',
      user: {} as User
    }
  },
  components: {IonSelect, ToolbarModal, BlaugueCompactArticle, IonPage}
})
</script>
<style scoped>
ion-note {
  width: 100%;
  margin-top: 2em;
  text-align: center;
  display: block;
}

.no-border {
  --inner-border-width: 0 0 0 0;
}

ion-chip {
  margin-left: 0;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  min-width: max-content;
}

.img-wrapper img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover
}

.ion-no-margin {
  margin: 0;
}
</style>
