<template>
  <ion-page>
    <ToolbarModal href="/account" :title="`Paramètres avancés`"></ToolbarModal>
    <ion-content :fullscreen="true" class="ion-padding">
      <ion-item class="ion-no-padding no-border">
        <ion-label position="stacked">
          <h2>Purger le navigateur</h2>
          <p>Supprime le cache & recharge la page. Utile si tu as des problèmes...</p>
          <ion-button color="primary" @click="purge()">Purger</ion-button>
        </ion-label>
      </ion-item>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {IonPage, IonSelect} from '@ionic/vue';
import {ellipsisVertical, flag, mail, settings} from 'ionicons/icons'
import BlaugueCompactArticle from "@/components/BlaugueCompactArticle.vue";
import ToolbarModal from "@/components/ModalToolbar.vue";
import {defineComponent} from "vue";

export default defineComponent({
  name: 'SettingsAdvanced',
  setup() {
    return { mail, flag, settings, ellipsisVertical }
  },
  methods: {
    purge() {
      caches.delete('v1').then(() => {
        document.cookie = ''
        localStorage.removeItem('userTheme')
        localStorage.removeItem('userList')
        localStorage.removeItem('savedArticle')
        localStorage.removeItem('savedEditedArticle')
        location.reload()
      })
    },
  },
  components: {IonSelect, ToolbarModal, BlaugueCompactArticle, IonPage}
})
</script>
<style scoped>
ion-note {
  width: 100%;
  margin-top: 2em;
  text-align: center;
  display: block;
}

.no-border {
  --inner-border-width: 0 0 0 0;
}
</style>
