 <template>
  <ion-page>
    <ToolbarModal href="/account" :title="`Paramètres d'apparence`"></ToolbarModal>
    <ion-content :fullscreen="true" class="ion-padding">
      <ion-item class="no-border ion-no-padding">
        <ion-label position="stacked" slot="start" class="ion-no-padding ion-no-margin">
          <h2>Thème</h2>
          <p>Pour le confort de tes yeux</p>
        </ion-label>
        <ion-label slot="end" class="ion-no-padding ion-no-margin">
           <ion-select aria-label="Thème" placeholder="Sombre/Clair" interface="action-sheet" @ion-change="changeTheme($event.detail.value)" :value="theme">
            <ion-select-option value="dark">Sombre</ion-select-option>
            <ion-select-option value="light">Clair</ion-select-option>
          </ion-select>
        </ion-label>
      </ion-item>
      <ion-item class="no-border ion-no-padding">
        <ion-label position="stacked" slot="start" class="ion-no-padding ion-no-margin">
          <h2>Paustes</h2>
          <p>Changer la disposition</p>
        </ion-label>
          <ion-label slot="end" class="ion-no-padding ion-no-margin">
          <ion-select aria-label="Thème" placeholder="Cartes/Liste" interface="action-sheet" @ion-change="changeArticlesDisposition($event.detail.value)" :value="articlesDisposition">
            <ion-select-option value="card">Cartes</ion-select-option>
            <ion-select-option value="list">Liste</ion-select-option>
          </ion-select>
        </ion-label>
      </ion-item>
      <ion-item class="no-border ion-no-padding">
        <ion-label position="stacked" slot="start" class="ion-no-padding ion-no-margin">
          <h2>Barre de navigation</h2>
          <p>Visualiser le texte ou non</p>
        </ion-label>
        <ion-label slot="end" class="ion-no-padding ion-no-margin">
          <ion-select aria-label="Thème" placeholder="Compacte/Actif/Texte" interface="action-sheet" @ion-change="changeNavbarDisposition($event.detail.value)" :value="navbarDisposition">
            <ion-select-option value="compact">Compacte</ion-select-option>
            <ion-select-option value="active">Actif</ion-select-option>
            <ion-select-option value="text">Texte</ion-select-option>
          </ion-select>
        </ion-label>
      </ion-item>
      <ion-item class="no-border ion-no-padding">
        <ion-label position="stacked" slot="start" class="ion-no-padding ion-no-margin">
          <h2>Interauctions</h2>
          <p>Changer la disposition</p>
        </ion-label>
        <ion-label slot="end" class="ion-no-padding ion-no-margin">
          <ion-select aria-label="Thème" placeholder="Grille/Liste" interface="action-sheet" @ion-change="changeInteractionDisposition($event.detail.value)">
            <ion-select-option value="grid">Grille</ion-select-option>
            <ion-select-option value="list">Liste</ion-select-option>
          </ion-select>
        </ion-label>
      </ion-item>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {IonPage, IonSelect} from '@ionic/vue';
import {ellipsisVertical, flag, mail, settings} from 'ionicons/icons'
import BlaugueCompactArticle from "@/components/BlaugueCompactArticle.vue";
import ToolbarModal from "@/components/ModalToolbar.vue";
import {defineComponent} from "vue";

export default defineComponent({
  name: 'SettingsAppearance',
  setup() {
    return { mail, flag, settings, ellipsisVertical }
  },
  methods: {
    changeTheme(theme: string) {
      localStorage.setItem('userTheme', theme)
      document.body.classList.remove('light')
      document.body.classList.remove('dark')
      const themeClass = localStorage.getItem('userTheme') || 'light'
      document.body.classList.add(themeClass)
    },
    changeArticlesDisposition(disposition: string) {
      localStorage.setItem('appearanceCardsDisposition', disposition)
    },
    changeInteractionDisposition(disposition: string) {
      localStorage.setItem('appearanceInteractionsDisposition', disposition)
    },
    changeNavbarDisposition(disposition: string) {
      localStorage.setItem('navbarDisposition', disposition)
    }
  },
  data() {
    const theme = localStorage.getItem('userTheme') || 'light'
    const articlesDisposition = localStorage.getItem('appearanceCardsDisposition') || 'card'
    const navbarDisposition = localStorage.getItem('navbarDisposition') || 'text'
    return {
      theme: theme,
      articlesDisposition: articlesDisposition,
      navbarDisposition: navbarDisposition
    }
  },
  components: {IonSelect, ToolbarModal, BlaugueCompactArticle, IonPage}
})
</script>
<style scoped>
ion-note {
  width: 100%;
  margin-top: 2em;
  text-align: center;
  display: block;
}

.no-border {
  --inner-border-width: 0 0 0 0;
}
</style>
