<template>
  <ion-page>
    <ToolbarModal href="/account" :title="`Paramètres`"></ToolbarModal>
    <ion-content :fullscreen="true">
      <ion-nav-link router-direction="forward" :component="SettingsAppearance">
        <ion-item button :detail-icon="sparkles">
          <ion-label>
            <h2>Apparence</h2>
            <p>Personnalise ton Blaugue !</p>
          </ion-label>
        </ion-item>
      </ion-nav-link>
      <ion-nav-link router-direction="forward" :component="SettingsAccount">
        <ion-item button :detail-icon="person">
          <ion-label>
            <h2>Compte</h2>
            <p>Change ton mot de passe, déconnecte toi...</p>
          </ion-label>
        </ion-item>
      </ion-nav-link>
      <ion-nav-link router-direction="forward" :component="SettingsAdvanced">
        <ion-item button :detail-icon="options">
          <ion-label>
            <h2>Avancés</h2>
            <p>Paramètres avancés.</p>
          </ion-label>
        </ion-item>
      </ion-nav-link>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {IonContent, IonNavLink, IonPage, IonSelect} from '@ionic/vue';
import {ellipsisVertical, flag, mail, options, person, settings, sparkles} from 'ionicons/icons'
import ToolbarModal from "@/components/ModalToolbar.vue";
import {defineComponent} from "vue";
import {User} from "@/functions/interfaces/users";
import SettingsAppearance from "@/components/SettingsAppearance.vue";
import SettingsAccount from "@/components/SettingsAccount.vue";
import SettingsAdvanced from "@/components/SettingsAdvanced.vue";

export default defineComponent({
  name: 'SettingsAppearance',
  setup() {
    return { mail, flag, settings, ellipsisVertical, SettingsAppearance, SettingsAccount, SettingsAdvanced, person, options, sparkles }
  },
  data() {
    return {
      newPassword: '',
      user: {} as User
    }
  },
  components: {IonNavLink, IonContent, IonSelect, ToolbarModal, IonPage}
})
</script>
<style scoped>
ion-note {
  width: 100%;
  margin-top: 2em;
  text-align: center;
  display: block;
}
</style>
