<template>
  <ion-toolbar>
    <ion-label slot="start" style="margin-left: 1em;">
      <h1>{{ title }}</h1>
    </ion-label>
    <ion-title></ion-title>
    <ion-label slot="end" style="margin-right: 1em;">
      <ion-icon size="medium" color="primary" :icon="icon || browsers" />
    </ion-label>
  </ion-toolbar>
</template>

<script lang="ts">
import {IonIcon} from '@ionic/vue';
import {browsers} from 'ionicons/icons'
import Add from '@/views/Add.vue'

export default {
  name: 'Toolbar',
  props: {
    title: String,
    icon: typeof browsers
  },
  data() {
    return {
      addComponent: Add
    }
  },
  setup() {
    return { browsers }
  },
  components: { IonIcon }
}
</script>
